@charset "UTF-8";

/////////mixin/////////
@import 'mixin';

/*頁面基本設定*/
h2.inner{
  font-size: 1.5rem;
  border-left: 6px solid #000;
  padding-left: 15px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 50px;
  @include mobile(){
        margin-bottom: 40px;
  }
}
.pofoTab{
  display: flex;
  // margin-bottom: 40px;
  li{
    width: 20%;
    text-align: center;
    border-bottom: 1px solid #070707;
    a{
      width: 100%;
      display: block;
      padding:10px 0;
      font-size: 1.25rem;
      @include mobile(){
        font-size: 1rem;
      }
    }
  }
  .on{
    background-color: #000;
    a{
      color:#fff;
    }
  }
}
.subpofoTab{
  background-color: #eee;
  display: flex;
  margin-bottom: 40px;
  @include mobile(){
        margin-bottom: 25px;
  }
  li{
    width: 15%;
    text-align: center;
    @include mobile(){
      width: 20%;
    }
    a{
      width:100%;
      display: block;
      padding:10px;
      font-size: 1rem;
      @include mobile(){
      font-size: 0.875rem
    }
    };
    
  }
  .on{
      border-bottom: 4px solid #000;
      font-weight: bold;
    }
}
/*共用設定*/
.block {
  padding: 35px 0;
  position: relative;
  @include mobile() {
     padding: 10px 0;
  }
}
.block.b0{
  padding-bottom: 0;
}
.gray.block{
 background-color: #f8f8f8;
 z-index: 2;
}
.more{
  font-weight: bold;
}
.titleBx {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  z-index: 1;
  @include mobile() {
    margin-bottom: 40px;
    padding-bottom: 3px;
  }
  &::before {
    content: '';
    display: block;
    bottom: -5px;
    width: 60px;
    height: 3px;
    background-color: #b10404 ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include mobile() {
      width: 30px;
      height: 2px;
    }
  }
  h3 {
    font-size: 3rem;
    color: #f1f1f1;
    font-weight: bold;
    @include mobile() {
      font-size: 1.5rem;
    }
  }
  h2 {
    font-size: 1.875rem;
    color: #000;
    background-color: #f8f8f8;
    padding: 2px 5px;
    position: relative;
    top: -10px;
    line-height: 1.3;
    font-weight: bold;
    display: inline-block;
    @include mobile() {
      font-size: 1.3rem;
      top: 0;
      margin-bottom: 5px;
    }
  }
}
.titleBx.right {
  width: 100%;
  text-align: left;
  @include mobile(){
     margin-bottom: 15px;
  }
  &::before {
    z-index: 1;
    content: '';
    display: block;
    top: 70px;
    width: 3px;
    height: 30px;
    background-color: #b10404 ;
    position: absolute;
    left: 0%;
    transform: translateX(0%);
    @include mobile() {
      top: 40px;
      height: 23px;
    }
  }
  h2 {
    padding-left: 15px;
  }
  .more{
    position: absolute;
    right:0;
    bottom:20px;
    font-weight: bold;
    text-align: center;
    background-color: #000;
    color:#fff;
    padding:5px 10px;
    display: inline-block;
    width: 80px;
    transition: 0.2s all ease-in-out;
    &:hover{
      background-color: #b10404;
    }

    @include mobile() {
      left: auto;
      right:0;
      bottom:10px
    }
  }
  
}
.fixleft{
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 2;
  background-color: #f8f8f8;
  height: 100%;
  width: calc(100vw / 1.4 / 4);
  @include pad (){
    position: relative;
  }
  @include mobile(){
    position: relative;
    width: 100%;
    background-color: transparent;
    top:0
  }
 &::before{
   content:"";
   width: 1000px;
   height: 100%;
   background-color: #f8f8f8;
   position: absolute;
   left: 0;
   top:0;
   transform: translateX(-100%);
 }
 .more{
  position: absolute;
  left: 0;
  bottom: 0px;
  font-weight: bold;
  }
}

.fixleftCon{
  margin-left: calc(100vw / 1.4 / 4);
  @include mobile(){
    margin-left: 0;
  }
}
/*個人經歷*/
.experlist {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  margin-bottom: 30px;
  &::before {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 5px;
    background: linear-gradient(to right, #fff, #888);
  }
  
  li {
    text-align: center;
    width: 16%;
    z-index: 1;
    position: relative;
    cursor: pointer;
    &:hover h3{
      color:#b10404
    }
  }
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999;
    margin: 0 auto;
    margin-bottom: 25px;
    transition: 0.3s all ease-in-out;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.3;
    transition: 0.3s all ease-in-out;
  }
  h4 {
    font-size: 1rem;
    font-weight: 300;
    transition: 0.3s all ease-in-out;
    @include mobile(){
      font-size: 0.875rem;
      line-height: 1.3;
      font-weight: bold;
    }
  }
  .swiper-slide-thumb-active{
    .circle {
      width: 24px;
      height: 24px;
      position: relative;
      top: -5px;
      margin-bottom: 13px;
      background-color:#b10404 ;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
    h3{
      color:#b10404 ;
    }
    h4{
      color:#000;
      font-weight: bold;
    }
  }
}
/*基本設定*/
.inline{
  display: flex;
}
.mb-s{
  margin-bottom: 10px;
}
.mb-m{
  margin-bottom: 20px;
}
.mb-lg{
  margin-bottom: 40px;
}
/*frame*/
.frame {
  background-color: #fff;
  padding: 15px;
  .in {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}
/*個人經歷內容*/
.experCon {
  margin-top: 25px;
  padding:25px 15px;
  @include mobile(){
    padding:15px;
  }
  .incon{
    max-width: 1000px;
    margin:0 auto;
  }
  .stepconSwiper{
    overflow: hidden;
  }
  h4 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
    @include mobile(){
      margin-bottom: 5px;
      font-size: 1.125rem;
    }
    
  }
  p{
    font-size: 1rem;
  }
  ol {
    
    li{
    margin-left: 20px;
    margin-bottom: 5px;
    }
  }
}
.experimgBx{
  justify-content: space-between;
  @include mobile(){
      flex-wrap: wrap;
    }
  li{
    width: 30%;
    margin-bottom: 10px;
    @include mobile(){
      width:100%
    }
    .imgbx{
      // padding-bottom: 56%;
      position: relative;
    }
    img{
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.wk01{
  .imgbx{
    padding-bottom: 156%;
  }
 }
 .wk02{
  .imgbx{
    padding-bottom: 40%;
  }
 }
.wk03{
  .imgbx{
    padding-bottom: 58%;
  }
 }
 .wk04{
  .imgbx{
    padding-bottom: 50%;
  }
 }
.wk05{
  .imgbx{
    padding-bottom: 56%;
  }
 }
/*網站輪播區塊*/

.webimgbx{
  position: relative;
  padding-bottom: 90%;
  overflow: hidden;
  &::before{
    content:"";
    width: 100%;
    height: 80px;
    background: linear-gradient(to top,#f8f8f8,transparent 100%);
    position: absolute;
    left: 0;
    bottom:0;
    z-index: 2;
  }
  img{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
  }
}


/*動畫區塊*/
.aniBx{
  position: relative;
  padding-bottom: 60px;
  @include mobile(){
    padding-bottom: 40px;
  }
  &::before{
    content:"";
    width:100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom:0;
    background-color: #eeeeee;
    z-index: 2;
  }
  .more{
    border-bottom: 2px solid #000;
    &:hover{
      border-color: #b10404;
      color:#b10404;
    }
  }
}

.phoneBx{
  max-width: 250px;
  // height: 400px;
  margin:0 auto;
  // background: #0c0c0c;
  border-radius: 10px;
  padding:15px;
  @include mobile(){
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}
.webBx{
  max-width: 700px;
   margin:0 auto;
   @include mobile(){
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}
.videoSwiper {
  overflow: hidden;
}
.videoSwiper .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background-image: url(../images/cir_arR.png);
  width: 50px;
  height: 50px;
  background-size:50px 50px;

}
.videoSwiper .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background-image: url(../images/cir_arL.png);
  width: 50px;
  height: 50px;
  background-size:50px 50px;
  
}

/*ul ol 基本設定*/
ol li {
  list-style: decimal;
  font-size: 1rem;
}
.innerListBx{
  -moz-column-count:4; /* Firefox */ /* Safari 和 Chrome */
  column-count:4;
  -moz-column-gap: 1em;
  column-gap: 1em;
  width: 100%;
  margin:0 auto;
  @include mobile(){
   -moz-column-count:2; /* Firefox */ /* Safari 和 Chrome */
    column-count:2;
  }


}
.inli-item{
  // padding: 2em;
  margin-bottom: 2em;
  -moz-column-break-inside: avoid;
  break-inside: avoid; /*防止斷點*/
  // background: #ccc;
  text-align: center;
  position: relative;
  cursor: pointer;
  &:hover .bg{
      background-color: rgba(0,0,0,0.6);
  }
  &:hover .txt{
    opacity: 1;
    top:40px
  }
  .txt{
    position: absolute;
    width: 80%;
    color:#fff;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    top:60px;
    z-index: 3;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    h4{
      font-size: 1.3rem;
      margin-bottom: 10px;
      font-weight: bold;
    }
    p{
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.7;
    }
    .icon{
      width: 25px;
      height: 25px;
      margin:0 auto;
      margin-bottom: 15px;
      display: block;
      background: url(../images/link.png)no-repeat center center /contain;
      
    }
  }
  img{
    position: relative;
    z-index: 1;  
  }
  .bg{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    transition: 0.3s all ease-in-out;
    
  }
  
}
.inli-item:nth-child(3n){
  margin-right: 0;
}

/*內頁設定*/
.block.top.spe{
  .head{
     display: none;
  }
  .in{
    padding-top: 30px;
    // @include mobile(){
    //   padding-top: 30px;
    // }
  }
  .tC {
    color:#fff;
    p{
      margin-bottom: 100px;
    }
  }
  h2{
    @include mobile(){
      margin-bottom: 10px;
    }

  }
  .bgImg{
    @include mobile(){
      height: 130px;
    }
  }

}
.block.top{
  padding-top: 0;
  .in{
    padding-top: 250px;
  }
  .head{
    position: absolute;
    left: 50%;
    top:80px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    // background-color: #000;
    background:#fff url(../img/head.png)no-repeat center center /cover;
    box-shadow: 1px 0 10px 0 rgba(58, 79, 117,0.2);
  }
  h2{
    font-size: 1.5rem;
    font-weight: bold;
  }
  p{
    font-size: 1rem;
  }
}
.bgImg{
  position: absolute;
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
  img{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include mobile(){
      width: 300%;
    }
  }
  
}
.person{
  h4{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p{
    margin-bottom: 25px;
    font-size: 1rem;
    color:#999;
    &::before{
      content:"—";
      margin-right: 10px;
    }
    
  }
  P+P{
      margin-top: -15px;
    }
}
/***** 共用結束*******/

/*小於360*/
@media screen and (max-width: 360px) {
}

/*---forie 微調樣式--*/
@media screen and (min-width: 0\0) {
}
