@charset "utf-8";
/*Font_Noto Sans TC*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&display=swap&subset=chinese-traditional");

/*-----初始化-----*/
body,
input,
select {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #313131;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #fff;

  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
a {
  text-decoration: none;
}
a:hover {
  transition: all 300ms ease-in-out;
}
div,
p,
span,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
table,
td,
th,
img {
  margin: 0;
  padding: 0;
  border: none;
}
table {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
td,
th {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: none;
  display: inline;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
}
img {
  border: none;
  display: block;
  width: 100%;
}
img.inline {
  display: inline-block;
  vertical-align: middle;
}
ul,
li {
  list-style: none;
}
ol {
  padding: inherit;
}
ol li {
  list-style: decimal;
}
:focus {
  /*outline:#b90f00 dashed 3px;*/
  z-index: 99999;
}
.topnav .accesskey:focus,
.header .resize:focus,
.footer:focus {
  outline: #ffffff dashed 3px;
  z-index: 99999;
}
/*:focus{outline:#f4d448 dashed 4px;z-index:99999;}
*/
html:focus,
body:focus,
div:focus {
  outline: none;
}
a {
  color: #666;
}
a:hover {
  color: #e60012;
}
/*-----base-----*/
.fL {
  float: left;
}
.fR {
  float: right;
  text-align: right;
}
.fR.mt {
  margin-top: -6px;
}
.tL {
  text-align: left;
}
.tR {
  text-align: right;
}
.tC {
  text-align: center;
}
.tC img {
  margin: 0 auto;
}
.tB {
  font-weight: bold;
}
.web {
  display: block;
}
.mobile {
  display: none;
}
.clearfx::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.inline {
  display: flex;
}
.none {
  display: none;
}
.max_w600 {
  max-width: 600px;
  margin: 0 auto;
}
.max_w1000 {
  max-width: 1000px;
  margin: 0 auto;
}
/*---------------頁面開始--------------------------*/
.wrapper {
  position: relative;
}
.pagesize {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 20px;
}
.headerpagesize {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 20px;
}
.contain {
  padding: 0px 0 0px 0;
  position: relative;
}
/*----header-----*/
.header {
  background-color: #fff;
  border-bottom: 1px solid #badaea;
  position: absolute;
  width: 100%;
  z-index: 10;
}
/*.sticky {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 40;
  position: fixed;
}*/
.header h1 {
  max-width: 260px;
  padding: 10px 0px;
  transition: 0.2s all ease-in-out;
}
.sticky h1 {
  max-width: 240px;
  padding: 5px 0;
}
/*----banner----*/
.bannerbx {
  width: 100%;
  min-height: 500px;
  background: url(../images/bn.png) no-repeat center center / cover;
  margin-bottom: 30px;
  position: relative;
  padding-top: 55px;
}
.bannerbx .pagesize {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 500px;
}
.bannerbx .deco {
  position: absolute;
}
.bannerbx .bg01 {
  width: 800px;
  right: -60px;
  top: -40px;
  animation-delay: 0s;
  animation-name: index_bnbg02;
  animation-duration: 18s;
  animation-iteration-count: infinite;
}
.bannerbx .bg02 {
  width: 800px;
  left: -20px;
  top: -40px;
  animation-delay: 0s;
  animation-name: index_bnbg;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes index_bnbg {
  0% {
    transform: scale(0.8) rotate(-20deg);
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    transform: scale(1) rotate(5deg);
  }

  100% {
    opacity: 0.5;
    transform: scale(0.8) rotate(-0deg);
  }
}
@keyframes index_bnbg02 {
  0% {
    transform: scale() rotate(20deg);
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    transform: scale(0.8) rotate(-15deg);
  }

  100% {
    opacity: 0.5;
    transform: scale(1.1) rotate(-0deg);
  }
}
.bannerbx .con {
  display: flex;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
}
.bannerbx .con .con_bx {
  width: 45%;
}
.bannerbx .con .con_bx:first-child {
  margin-right: 5%;
}
.bannerbx .con .phone_bx {
  width: 400px;
  margin-left: auto;
  position: relative;
  right: 40px;
  opacity: 0;
}
.bannerbx .con .word_bx {
  max-width: 520px;
  margin: 0 auto;
  position: relative;
  left: 0px;
  top: 20px;
  opacity: 0;
}
.bannerbx .toplogo {
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  top: 15px;
  width: 155px;
  animation-delay: 0.5s;
}
.bannerbx .txt {
  transform: translateX(-50%);
  color: #1e334e;
  border-top: 1px solid #1e334e;
  border-bottom: 1px solid #1e334e;
  padding: 10px 20px;
  top: 0px;
  width: 90%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  animation-delay: 0.5s;
  position: relative;
  line-height: 1.4;
  font-weight: 300;
}
.bannerbx .play {
  right: 36px;
  width: 160px;
  top: 300px;
  animation-delay: 1s;
}
.bannerbx .qrcodepos {
  background-color: #999;
  right: 70px;
  width: 100px;
  top: 185px;
  height: 100px;
}
.bannerbx .qr {
  width: 160px;
}
.bannerbx .cir {
  width: 120px;
  animation-iteration-count: 1;
  animation-delay: 1s;
  opacity: 0;
}
.bannerbx .cir01 {
  top: 40px;
}
.bannerbx .cir02 {
  top: 160px;
  left: -40px;
}
.bannerbx .cir03 {
  bottom: 40px;
  left: -40px;
}
.bannerbx .pig {
  width: 240px;
  bottom: -10px;
  right: -80px;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1; /*設定該特效次數，infinite代表無限。*/
}

.bannerbx .L_serq {
  width: 8px;
  height: 8px;
  border-top: 2px solid #7ea9dc;
  border-right: 2px solid #7ea9dc;
  background-color: #7ea9dc;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  right: 15px;
  top: 50%;
  animation-iteration-count: infinite; /*設定該特效次數，infinite代表無限。*/
  animation-duration: 2s;
}
.bannerbx .bgdeco {
  width: 80px;
  animation-duration: 4s;
}
.bannerbx .deco01 {
  left: 42%;
  top: 20px;
  animation-delay: 1s;
}
.bannerbx .deco02 {
  left: 48%;
  top: 10px;
  animation-delay: 0.5s;
}
.bannerbx .deco03 {
  left: 45%;
  top: 150px;
}
.bannerbx .deco04 {
  left: 48%;
  top: 280px;
  animation-delay: 1s;
}
.bannerbx .deco05 {
  left: 53%;
  top: 350px;
  animation-delay: 0.5s;
}
.bannerbx .deco06 {
  left: 47%;
  top: 400px;
  animation-delay: 1s;
}
.bannerbx .R_serq {
  width: 8px;
  height: 8px;
  border-top: 2px solid #7ea9dc;
  border-right: 2px solid #7ea9dc;
  background-color: #7ea9dc;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  left: 15px;
  top: 50%;
  animation-iteration-count: infinite; /*設定該特效次數，infinite代表無限。*/
  animation-duration: 2s;
}
.bannerbx .buton_block {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
}
.bannerbx .buton {
  width: 140px;
  animation-delay: 1.2s;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  text-align: center;
  color: #1e334e;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
}
.bannerbx .buton .imgbxbuton {
  min-width: 120px;
  position: relative;
  margin: 0 auto;
  height: 120px;
}

.bannerbx .buton img {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
  transition: 0.2s ease-in-out;
}
.bannerbx .buton img:hover {
  width: 125px;
  transition: 0.2s ease-in-out;
}
.hover_bg_hide {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #ccc;
  border-radius: 50%;
  z-index: 1;
  left: 50%;
  top: 50%;
  animation-name: hover_bg;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  animation-play-state: paused;
  opacity: 0;
}
.hover_open {
  width: 130px;
  height: 130px;
  animation-play-state: running;
}

@keyframes hover_bg {
  0% {
    width: 100px;
    height: 100px;

    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }

  100% {
    width: 145px;
    height: 145px;

    opacity: 0;
  }
}

/*----首頁輪播-----*/

.swfm {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  margin-bottom: 45px;
  padding-bottom: 25px;
}
.index_swiper {
  padding: 20px 40px;
}
.index_swiper .swiper-slide {
  background-color: #efefef;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 0;
  top: 40px;
}
.index_swiper .imgbx {
  position: relative;
  /*padding-bottom: 56.2%;*/
  width: 100%;
  cursor: pointer;
}

.indx_thr3 {
  display: flex;
  justify-content: space-between;
}
.indx_thr3 .swiper-slide {
  width: 30%;
}

.index_swiper .imgbx img {
  /* position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;*/
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-next {
  content: "";
  background: url(../images/ar_R_40x40.png) no-repeat center center/contain;
  width: 40px;
  height: 40px;
  display: block;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -2px;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -2px;
}
.swiper-button-prev {
  content: "";
  background: url(../images/ar_L_40x40.png) no-repeat center center/contain;
  width: 40px;
  height: 40px;
  display: block;
}
/*----基本input樣式-----*/
input[type="text"],
input[type="password"] {
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  padding: 5px 0px;
}
::-webkit-input-placeholder {
  color: #a8b1b7;
}
/*Firefox 4-18瀏覽器專用*/
input::-moz-placeholder {
  color: #a8b1b7;
}
/*Firefox 19+瀏覽器專用*/
input::-moz-placeholder {
  color: #a8b1b7;
}
/*IE10瀏覽器專用*/
:-ms-input-placeholder {
  color: #a8b1b7;
}
select {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 0px;
  line-height: 35px;
  color: #a8b1b7;
  background: #fff url(../images/select_arrow.png) no-repeat right 50%;
  border: none;
  box-sizing: border-box;
  vertical-align: top;
  border-bottom: 1px solid #dcdcdc;
  padding-right: 30px;
}
input[type="checkbox"] {
  position: relative;
  width: 20px;
  opacity: 0;
  left: 8px;
  zoom: 2;
  top: 3px;
}
input[type="checkbox"] + span.icon02 {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-left: -18px;
  background: url(../images/radio_01-2.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  margin-right: 5px;
}
input[type="checkbox"]:checked + span.icon02 {
  cursor: pointer;
  background: url(../images/radio_02-2.png) no-repeat center center;
  background-size: contain;
}
input[type="radio"] {
  position: relative;
  width: 20px;
  opacity: 0;
  left: 8px;
  zoom: 2;
  top: 3px;
}
input[type="radio"] + span.icon02 {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-left: -18px;
  background: url(../images/radio_01-2.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  margin-right: 5px;
}
input[type="radio"]:checked + span.icon02 {
  cursor: pointer;
  background: url(../images/radio_02-2.png) no-repeat center center;
  background-size: contain;
}

/*-----social media 側欄浮動-----*/
.social_bx {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}
.social_bx a {
  width: 45px;
  display: block;
  margin-bottom: 10px;
  transition: 0.2s all ease-in-out;
}
.social_bx a img {
  transition: 0.2s all ease-in-out;
}
/*----footer樣式-----*/
footer {
  background-color: #0090dc;
  padding: 20px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
}
.swfm_2 {
  max-width: 1000px;
}
@media screen and (max-width: 1024px) {
  .social_bx {
    top: 40%;
  }
}
@media screen and (max-width: 768px) {
  /*-----base-----*/
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
  .pagesize {
    padding: 0px 15px;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 5px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 5px;
  }
  .social_bx {
    position: relative;
    left: auto;
    right: auto;
  }
  .social_bx a {
    display: inline-block;
    background-color: #a1a5b0;
    width: 20%;
    position: relative;
    padding: 10px 0px;
    margin-bottom: 0;
  }
  .social_bx a img {
    max-width: 40px;
    margin: 0 auto;
  }
  .social_bx .mobile {
    display: block;
    font-size: 0;
    position: relative;
    top: 51px;
    width: 100%;
  }
  /*-----首頁輪播-----*/
  .swfm {
    margin-bottom: 15px;
  }
  /*-----banner控制-----*/
  .bannerbx .con {
    flex-direction: column;
    position: relative;
  }
  .bannerbx .con .con_bx:last-child {
    margin-top: -60px;
    margin-bottom: 45px;
  }
  .bannerbx .con .con_bx {
    width: 100%;
  }
  .bannerbx .con .con_bx .word_bx .deco {
    position: relative;
    font-size: 1.5rem;
  }

  .bannerbx .con .con_bx .word_bx .toplogo {
    top: 90px;
    width: 220px;
  }
  .bannerbx .play {
    right: 45px;
    top: 360px;
    width: 200px;
  }
  .bannerbx .cir01 {
    left: 40px;
  }
  .bannerbx .pig {
    right: -80px;
  }

  .bannerbx .con .phone_bx {
    width: 500px;
    margin-left: auto;
    position: relative;
    right: 40px;
    opacity: 0;
    margin-right: auto;
    left: -80px;
  }
  .bannerbx .con .word_bx {
    margin-bottom: 30px;
    max-width: 600px;
  }
  .bannerbx .deco01 {
    left: 62%;
    top: 0px;
  }
  .bannerbx .deco02 {
    left: 80%;
    top: -30px;
  }
  .bannerbx .deco03 {
    left: 70%;
  }
  .bannerbx .deco04 {
    left: 80%;
  }
  .bannerbx .deco05 {
    left: 89%;
  }
  .bannerbx .deco06 {
    left: 72%;
    top: 430px;
  }
  .bannerbx .bg01 {
    right: -180px;
    top: 350px;
    transform: rotate(-215deg);
  }
  .bannerbx .bg02 {
    left: -120px;
    top: 80px;
    transform: rotate(190deg);
  }
  .bannerbx .ar_bx {
    width: 20px;
    margin: 0 auto;
    padding-top: 10px;
  }
  .bannerbx .ar_bx .ar {
    width: 15px;
    height: 15px;
    border-top: 2px solid #eb670b;
    border-right: 2px solid #eb670b;
    transform: rotate(135deg);
    position: relative;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  .bannerbx .opac {
    opacity: 0.5;
  }
  .bannerbx .ar_bx .ar:last-child {
    margin-top: -8px;
    animation-delay: 0.2s;
  }
  .header h1 {
    max-width: 160px;
  }
  .bannerbx .qrcodepos {
    background-color: #999;
    right: 89px;
    width: 120px;
    top: 230px;
    height: 120px;
  }
  .indx_thr3 {
    flex-direction: column;
  }
  .indx_thr3 .swiper-slide {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  /*---Banner 小網樣式--*/
  .bannerbx .qrcodepos {
    right: 40px;
    width: 80px;
    top: 125px;
    height: 80px;
  }
  .bannerbx .con .con_bx .word_bx .deco {
    font-size: 1.125rem;
    line-height: 1.4;
  }
  .bannerbx .con .phone_bx {
    width: 280px;
    margin-right: 85px;
    left: 0;
  }
  .bannerbx .pig {
    width: 150px;
    right: -70px;
  }
  .bannerbx .play {
    right: 15px;
    width: 130px;
    top: 210px;
  }
  .bannerbx .cir {
    width: 100px;
  }
  .bannerbx .cir01 {
    left: 5px;
    width: 110px;
    top: 20px;
  }
  .bannerbx .cir02 {
    top: 115px;
    left: -15px;
  }
  .bannerbx .cir03 {
    bottom: 5px;
    left: 0px;
  }
  .bannerbx .con .con_bx .word_bx .toplogo {
    top: 40px;
    width: 125px;
    left: 32%;
  }
  .bannerbx .bg01 {
    width: 450px;
    right: -90px;
    top: 110px;
    transform: rotate(-220deg);
  }
  .bannerbx .bg02 {
    width: 500px;
    transform: rotate(200deg);
    left: -110px;
    top: -20px;
  }
  .bannerbx .con .con_bx:last-child {
    margin-top: -30px;
    margin-bottom: 0px;
  }
  .bannerbx .buton_block {
    flex-direction: column;
  }
  .bannerbx .buton {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1.125rem;
    animation-delay: 1.2s;
  }
  .bannerbx .deco01 {
    left: 65%;
    top: -10px;
  }
  .bannerbx .deco02 {
    left: 80%;
    top: -20px;
  }
  .bannerbx .deco03 {
    left: 75%;
    top: 75px;
    width: 60px;
  }
  .bannerbx .deco04 {
    left: 85%;
    top: 125px;
    width: 50px;
  }
  .bannerbx .deco05 {
    left: 90%;
    top: 180px;
    width: 50px;
  }
  .bannerbx .deco06 {
    left: 77%;
    top: 210px;
    width: 60px;
  }
  .bannerbx {
    margin-bottom: -10px;
  }

  /*---footer--*/
  footer p {
    font-size: 0.7rem;
    line-height: 1.2;
  }
  footer {
    padding: 15px 10px;
  }

  /*---inad--*/

  .inadmfiexed a {
    padding: 10px;
    width: 50%;
    display: block;
    color: #fff;
    text-align: center;
    background-color: #eba341;
  }
  .inadmfiexed a:last-child {
    background-color: #fdc731;
  }
  .inadmfiexed a img {
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
  }

  .inadmfiexed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    box-sizing: border-box;
  }
  .inadm {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: relative;
  }
  .indexl_1fm {
    padding: 0px 0px;
    margin: 20px 0;
  }
  .indx_thr3 .swiper-slide {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  /*---Banner 小網樣式--*/
  .bannerbx .con .phone_bx {
    width: 240px;
    margin-right: 50px;
  }
  .bannerbx .play {
    right: 18px;
    width: 100px;
    top: 180px;
  }
  .bannerbx .cir01 {
    width: 85px;
  }
  .bannerbx .cir02 {
    top: 105px;
    width: 80px;
  }
  .bannerbx .cir03 {
    bottom: 15px;
    width: 80px;
  }
  .bannerbx .pig {
    width: 100px;
    right: -50px;
  }
  .bannerbx .con .con_bx .word_bx .toplogo {
    width: 110px;
    left: 35%;
  }
  .bannerbx .qrcodepos {
    right: 40px;
    width: 60px;
    top: 110px;
    height: 60px;
  }
}

/*---forie 微調樣式--*/
@media screen and (min-width: 0\0) {
  .bannerbx .pig {
    bottom: 60px;
    width: 220px;
  }
}
