/*--內頁樣式-----*/
.forie {
  display: none;
}
.bannerbx {
  margin-bottom: 0;
}
.pointbg {
  background: url(../images/point_bg.png) repeat;
}
.blocksy1 {
  opacity: 0;
}
.mblock {
  max-width: 1000px;
  margin: 0 auto;
}
.mblock {
  margin-bottom: 40px;
}
.mblock:last-child {
  margin-bottom: 0;
}
.bs101 .lockleft {
  overflow: hidden;
  height: 0;
}
.bs101 .lockright {
  overflow: hidden;
}

.bs102 .lockright {
  overflow: hidden;
}
.bs102 .lockleft {
  overflow: hidden;
  height: 0;
}

/*--內頁banner02-----*/
.bn02bx .pagesize {
  display: flex;
  justify-content: space-around;
}
.bn02bx .con:first-child {
  width: 35%;
  min-width: 560px;
  flex: 0 0 auto;
  z-index: 1;
  opacity: 0;
}
.bn02bx .peoplebx {
  top: 51%;
  transform: translateY(-50%);
  z-index: 10;
}
.bn02bx .phonebx {
  top: 20px;
  z-index: 7;
  left: 180px;
  width: 247px;
}
@keyframes phone_anmiotp {
  0% {
    top: 60px;
  }
  100% {
    top: 20px;
  }
}
.bn02bx .bndeco01 {
  left: 35%;
  top: 35%;
  animation-delay: 0.5s;
}
.bn02bx .bndeco02 {
  right: 20%;
  top: 55%;
  animation-delay: 1s;
}
.bn02bx .bndeco03 {
  right: 2%;
  top: 55%;
}
.bn02bx .bndeco04 {
  right: 0%;
  bottom: 5%;
  width: 90px;
  animation-delay: 0.5s;
}
.bn02bx .bndeco05 {
  right: 30%;
  top: 40%;
  animation-delay: 1s;
}
.bn02bx .bg_01 {
  top: -80px;
  left: 20px;
  z-index: 3;
  animation-iteration-count: infinite; /*設定該特效次數，infinite代表無限。*/
}
.bn02bx .bg_02 {
  top: -40px;
  left: 20px;
  z-index: 2;
  animation-duration: 8s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.bn02bx .bg_03 {
  top: -60px;
  left: 10px;
  z-index: 1;
  width: 610px;
  animation-duration: 8s;
  animation-delay: 1.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.bn02bx .con {
  width: 50%;
  position: relative;
  display: block;
}
.bn02bx .titbx {
  position: relative;
  top: 20px;
  width: 350px;
  margin-bottom: 25px;
  left: -10px;
}
.bn02bx .Rbx {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #2d2c2c;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 80px;
}
.bn02bx .Rbx p {
  position: relative;
  margin-bottom: 15px;
  z-index: 10;
  font-weight: 500;
  animation-name: phone_anmi;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes phone_anmi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.inad {
  position: fixed;
  right: 40px;
  top: 25%;
  z-index: 20;
}
.inad a {
  color: #cd137c;
  display: block;
  border-radius: 50%;
  padding: 10px 20px;
  background-color: #f5cfe4;
  position: relative;
  top: 5px;
  left: 15px;
  transition: 0.2s all ease-in-out;
  margin-bottom: 15px;
  width: 45px;
  height: 60px;
  line-height: 1.2;
}
.inad .txt {
  position: relative;
  left: 0px;
  top: 4px;
  font-size: 1.25rem;
}
.inad a:hover {
  color: #000;
}
.inad a:hover .frm {
  top: -3px;
  left: -3px;
}
.inad a:hover {
  background-color: #cd137c;
  color: #fff;
}
.inad a .frm {
  width: 95px;
  height: 85px;
  border-radius: 50%;
  padding: 2px 25px;
  background: url(../images/inad_frm.png) no-repeat center center / contain;
  position: absolute;
  box-sizing: border-box;
  top: -6px;
  left: -9px;
  transition: 0.2s all ease-in-out;
}
.bn02bx .detail_step {
  display: flex;
  position: relative;
  z-index: 4;
  align-items: center;
  left: -20px;
  margin-bottom: 20px;
}
/*.bn02bx .detail_step::before {
  content: "";
  width: 90px;
  height: 90px;
  background: url(../images/banner02_right_deco01_bg.png) no-repeat center
    center / contain;
  display: block;
  position: absolute;
  left: 65px;
}*/
.bn02bx .detail_step:last-child::before {
  background: url(../images/banner02_right_deco02_bg.png) no-repeat center
    center / contain;
}
.bn02bx .detail_step .imgbx {
  width: 120px;
  z-index: 2;
  flex: 0 0 auto;
  animation-delay: 0s;
  animation-iteration-count: 1; /*設定該特效次數，infinite代表無限。*/
}
.word_txt {
  position: relative;
}
.bn02bx .detail_step h5 {
  font-size: 1.5rem;
  color: #1e334e;
  line-height: 1.2;
  margin-right: 20px;
  min-width: 48px;
  position: relative;
  left: -10px;
  white-space: nowrap;
  animation-name: phone_anmi;
  animation-duration: 2s;
  animation-iteration-count: 1;
  position: relative;
  z-index: 2;
}
.word_txt span {
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: 1;
  left: -60px;
  top: 0px;
}
.bn02bx .detail_step p {
  font-size: 1rem;
  color: #1e334e;
  margin-bottom: 0;
}
.bn02bx .detail_step p span {
  font-weight: 300;
}
.bn02bx .step_bx {
  left: -70px;
  width: 250px;
  z-index: 2;
  top: 210px;
}
/*--內頁banner03-----*/
.linepay .pointbg {
  background: url(../images/point_bg-2.png) repeat;
}
.linepay .inad a {
  background-color: #eba341;
  color: #fff;
}
.linepay .inad a:hover {
  background-color: #6ac173;
}
.linepay .bn02bx .titbx {
  width: 370px;
}
.linepay .bn02bx .phonebx {
  top: 30px;
  left: 170px;
  width: 275px;
}
.func_bx {
  width: 100%;
  justify-content: space-around;
  position: relative;
  z-index: 10;
}
.func_bx li {
  width: 30%;
}
.func_bx .tit {
  padding-top: 25px;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.func_bx .tit .imgbx {
  width: 100px;
  z-index: 2;
  animation-delay: 0.8s;
  animation-iteration-count: 1s;
}
.func_bx .tit h4 {
  font-size: 1.5rem;
  color: #1e334e;
  z-index: 2;
  white-space: nowrap;
}
.func_bx .tit .soild {
  position: absolute;
  width: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.func_bx p {
  font-size: 1rem;
  color: #1e334e;
}
.linepay .bn02bx .bndeco01 {
  left: -10%;
  top: 5%;
  animation-delay: 0.5s;
  transform: rotate(-45deg);
  width: 120px;
}
.linepay .bn02bx .bndeco03 {
  left: -5%;
  right: auto;
  top: auto;
  bottom: 6%;
  transform: rotate(-45deg);
  width: 70px;
}
.linepay .bn02bx .bndeco04 {
  width: 130px;
}
.linepay .bn02bx .bndeco05 {
  right: 2%;
  top: 25%;
}
.linepay .bn02bx .bndeco06 {
  left: 40%;
  bottom: 0;
}
.linepay .bn02bx .bg_01 {
  width: 580px;
  top: -60px;
}
/*--lineb頁籤樣式-----*/
.linepay .tabx {
  background-image: linear-gradient(to bottom, #4faa57, #81ce7f);
  border-bottom: 1px solid #6bc273;
}
.linepay .tabx .sele .bg {
  border: 1px solid #6ac273;
  border-bottom: none;
}
/*--lineb qa樣式-----*/
.linepay .qablock .sele .qbx span {
  background: url(../images/qaic_2.png) no-repeat center center / contain;
}
.linepay .qablock .sele .qbx {
  color: #6ac273;
}
.linepay .qabx .abx {
  color: #313131;
  border-left: 5px solid #6ac273;
  background-image: linear-gradient(to right, #f6f6f6 50%, #fff);
}
.qatit {
  font-size: 1.81rem;
  color: #84ad9d;
  font-weight: bold;
  margin-bottom: 25px;
}

/*--line樣式-----*/
.linepay .blocksy2 .subtit {
  width: 450px;
}

.linepay .blocksy2 .Rightbx .swiper-slide-thumb-active {
  background-color: #d0f0dd;
}
.linepay .swiper-slide-thumb-active::before {
  background-color: #8ad699;
}
.linepay .Rightbx .swiper-slide-thumb-active::after {
  border-color: transparent #8ad699 transparent transparent;
}
.linepay .mode_bx .succedsy {
  color: #67c771;
  border-color: #67c771;
}
.linepay .colummode .mode_bx ul .succedsy::before {
  background-color: #67c771;
}
.linepay .blocksy2 .phonecon {
  position: relative;
}
.linepay .blocksy2 .phonecon::before {
  content: "";
  display: block;
  width: 200px;
  height: 230px;
  background: url(../images/phone_sy2_bg-1.png) no-repeat center center /
    contain;
  position: absolute;
  right: -60px;
  top: -30px;
}
.linepay .blocksy2 .phonecon::after {
  content: "";
  display: block;
  width: 200px;
  height: 230px;
  background: url(../images/phone_sy2_bg-2.png) no-repeat center center /
    contain;
  position: absolute;
  left: -60px;
  bottom: -30px;
}
.linepay .blocksy2 .phonecons2::before {
  content: "";
  display: block;
  width: 200px;
  height: 230px;
  background: url(../images/phone_sy2_bg-3.png) no-repeat center center /
    contain;
  position: absolute;
  left: -40px;
  top: 0px;
}
.linepay .blocksy2 .phonecons2::after {
  content: "";
  display: block;
  width: 200px;
  height: 230px;
  background: url(../images/phone_sy2_bg-4.png) no-repeat center center /
    contain;
  position: absolute;
  right: -80px;
  bottom: 40px;
  left: auto;
}
/*--頁籤樣式-----*/
.tabx {
  background-image: linear-gradient(to bottom, #e78dc4, #f1a1d8);
  border-bottom: 1px solid #f06aaa;
  padding: 8px 0;
}
.tabxfixed {
  position: fixed;
  z-index: 39;
  top: 0px;
  width: 100%;
}
.tabx .inline {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.tabx li {
  color: #fff;
  white-space: nowrap;
  font-size: 1.125rem;
  width: 33.3%;

  max-height: 35px;
  position: relative;
  cursor: pointer;
}
.tabx li .con {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: 0.2s all ease-in-out;
  z-index: 2;
}
.tabx li:last-child {
  border-right: none;
}
.tabx .imgbx {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.1s all ease-in-out;
}
.tabx span {
  position: relative;
  z-index: 5;
}
.tabx .imgbx .onic {
  display: none;
}
.tabx .sele {
  position: relative;
  transition: 0.1s all ease-in-out;
}
.tabx .sele .con {
  position: relative;
  top: 0px;
  z-index: 2;
  transition: 0.1s all ease-in-out;
}
.tabx li:hover .imgbx {
  width: 50px;
}
.tabx li:hover {
}
.tabx li:hover .bg {
  opacity: 1;
  top: -8px;
  transition: 0.3s all ease-in-out;
}
.tabx li:hover span {
  padding-left: 0px;
}
.tabx .bg {
  opacity: 0;
  position: absolute;
  left: 1px;
  top: -8px;
  width: calc(100% - 2px);
  height: 60px;
  background-color: #fff;
  border: none;
  z-index: 1;
  border-bottom: none;
  border-bottom: none;
  transition: 0.3s all ease-in-out;
}
.tabx .sele .bg {
  opacity: 1;
  position: absolute;
  left: 1px;
  top: -8px;
  width: calc(100% - 2px);
  height: 60px;
  background-color: #fff;
  border: none;
  z-index: 1;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.tabx .sele span {
  font-weight: bold;
  color: #eba341;
}
.tabx .sele .imgbx {
  width: 50px;
  transition: 0.4s all ease-in-out;
}
.tabx .sele .imgbx .onic {
  display: block;
  transition: 0.4s all ease-in-out;
}
.tabx .sele .imgbx .orgin {
  display: none;
  transition: 0.4s all ease-in-out;
}
/*--標題樣式1-----*/
.tit01 {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  font-size: 0;
  position: relative;
}
.tit01 li {
  display: inline-block;
  color: #1e334e;
  font-size: 2.25rem;
  width: 80px;
  position: relative;
  height: 80px;
  animation-duration: 1s;
}
.tit01 .deco {
  width: 48px;
  height: 40px;
  position: absolute;
  top: -40px;
  left: 20%;
  transform: translateX(-50%);
  background: url(../images/tit01_mark.png) no-repeat center center / contain;
  display: block;
  animation-iteration-count: infinite; /*設定該特效次數，infinite代表無限。*/
  animation-duration: 4s;
}
.tit01 li p {
  position: relative;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  width: 40px;
}
.tit01 li .bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
/*--步驟輪播設定 blocksy1-----*/
.swiper-container {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-container .subtit {
  top: -10px;
}
.swiper-container .mode_bx ul li {
  box-sizing: content-box;
}
.mode_bx .succedsybx li span::before {
  display: none;
}
.mode_bx .succedsy .sele {
  display: none;
}
.mode_bx .succedsy {
  display: inline-block;
  color: #eba341;
  border-bottom: 1px solid #fdbe11;
}
.lockbx .succedsy {
  color: #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
}
.mode_bx .succedsy span {
  width: 35px;
  left: 2px;
  top: 6px;
}
.succedsy span .locksele {
  display: none;
}
.lockbx .succedsy span .nosele {
  display: none;
}
.lockbx .succedsy span .locksele {
  display: block;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.swiper-slide .phone {
  position: relative;
}
.swiper-slide .pic {
  width: 84%;
  height: 95%;
  background-color: #fff;
  position: absolute;
  left: 50.63%;
  top: 49.5%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 20px;
  overflow: hidden;
}
.linepay .swiper-slide .pic {
  left: 50.5%;
}

.gallery-top,
.gallery-top1-1,
.gallery-top2,
.gallery-top2-1,
.gallery-top3,
.gallery-top3-1 {
  width: 30%;
  height: auto;
  padding: 0px 20px;
  margin-top: -30px;
  max-height: 580px;
  padding-top: 20px;
}
.blocksy2 .gallery-top,
.blocksy2 .gallery-top2,
.blocksy2 .gallery-top3 {
  max-height: 530px;
  margin-top: -50px;
}
.gallery-top .swiper-wrapper,
.gallery-top2 .swiper-wrapper,
.gallery-top3 .swiper-wrapper {
  transform: none;
}
.swiper-container .mode_bx {
  width: 100%;
}
.gallery-thumbs,
.gallery-thumbs1-1,
.gallery-thumbs2,
.gallery-thumbs2-1,
.gallery-thumbs3,
.gallery-thumbs3-1 {
  box-sizing: content-box;
  padding: 10px 0; /*padding-right:25px;*/
  overflow: visible;
}
.gallery-thumbs .swiper-slide,
.gallery-thumbs1-1 .swiper-slide,
.gallery-thumbs2 .swiper-slide,
.gallery-thumbs2-1 .swiper-slide,
.gallery-thumbs3 .swiper-slide,
.gallery-thumbs3-1 .swiper-slide {
  width: 100%;
  height: auto !important;
  opacity: 1;
  margin-bottom: 25px;
}
.gallery-top .subtit {
  margin-top: 20px;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.pinbg .swiper-slide-thumb-active {
  background-color: #fff;
}
.swiper-slide-thumb-active {
  background-color: #faf1f6;
  position: relative;
}
.swiper-container .swiper-slide-thumb-active .succedsy {
  color: #334868;
  border-bottom: none;
}
.swiper-container .swiper-slide-thumb-active .succedsy .nosele {
  display: none;
}
.swiper-container .swiper-slide-thumb-active .succedsy .sele {
  display: block;
  background-color: transparent;
}
.swiper-slide-thumb-active span {
  color: #fff;
}
.mode_bx .swiper-slide-thumb-active span::before {
  border-color: #fff;
}
.swiper-slide-thumb-active::before {
  content: "";
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eaa1ce;
}
.swiper-slide-thumb-active::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #faf1f6;
  transform: translateY(-50%);
  position: absolute;
  right: -14px;
  top: 50%;
  display: block;
}
.Rightbx .swiper-slide-thumb-active::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0px;
  border-color: transparent #eaa1ce transparent transparent;
  transform: translateY(-50%);
  position: absolute;
  left: -12px;
  top: 50%;
  display: block;
}
/*--框樣式1 blocksy1-----*/
.blocksy1 {
  padding: 40px 10px;
  background-color: #fff;
  position: relative;
}
.bs101,
.bs103 {
  position: relative;
  left: 0%;
}
.bs102 {
  position: relative;
  right: 0%;
}
.blocksy1:nth-child(2) {
  margin-top: -20px;
  padding-top: 55px;
}
.blocksy1::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/deco_boxbt01.png) no-repeat center center / contain;
  position: absolute;
  bottom: -30px;
  right: 10px;
  z-index: 2;
}
.blocksy1::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/deco_boxbt02.png) no-repeat center center / contain;
  position: absolute;
  bottom: -30px;
  left: 10px;
  z-index: 2;
}
.blocksy1:nth-child(4) {
  margin-bottom: 25px;
}
.blocksy1:nth-child(4)::before {
  bottom: 10px;
}
.blocksy1:nth-child(4)::after {
  bottom: 10px;
}
.blocksy1 .inline {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
}
.mode_bx {
  width: 33%;
  position: relative;
}
.blocksy1 .phonbx {
  width: 25%;
  padding-top: 0px;
  position: relative;
  top: 60px;
  opacity: 0;
  min-width: 250px;
  animation-delay: 2s;
}
.mode_bx ul li {
  position: relative;
  padding: 10px 5px 10px 50px;
  color: #1e334e;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0px;
  cursor: pointer;
}
.mode_bx ul li li {
  padding-left: 0;
}
.mode_bx ul li span {
  position: absolute;
  left: 15px;
  font-size: 1.125rem;
  top: 9px;
  font-weight: bold;
}
.mode_bx ul li p {
  font-size: 0.8rem;
  padding-top: 5px;
  line-height: 1.5;
  font-weight: 400;
}
.mode_bx ul li span::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 2px solid #314667;
  color: #314667;
  border-radius: 50%;
  position: absolute;
  left: -9px;
  top: -1px;
}
.mode_bx .sele {
  background-color: #faf1f6;
  position: relative;
}
.mode_bx .sele span {
  color: #fff;
}
.mode_bx .sele span::before {
  border-color: #fff;
}
.mode_bx .sele::before {
  content: "";
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eaa1ce;
}
.mode_bx .sele::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #faf1f6;
  transform: translateY(-50%);
  position: absolute;
  right: -14px;
  top: 50%;
  display: block;
}
.mode_bx .deco_pig {
  position: absolute;
  bottom: 20px;
  width: 220px;
  right: 10px;
  opacity: 1;
  animation-delay: 1s;
}
.subtit {
  width: 180px;
  position: relative;
}
.subtit .show {
  display: block;
}
.subtit .hide {
  display: none;
}
.subtit p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
  font-size: 1.4rem;
  white-space: nowrap;
  color: #fff;
  letter-spacing: 0.15rem;
}
.lockbx {
  position: relative;
  width: 33%;
}
.lockbx .show {
  display: none;
}
.lockbx .hide {
  display: block;
}
.lockbx p {
  color: #a8a8a9;
}
.lockbx ul li {
  color: #a6a6a6;
  cursor: auto;
}
.lockbx ul li span::before {
  border: 2px solid #a6a6a6;
}
.lock_ic {
  display: none;
}
.lockbx .mode_bx {
  width: 100%;
}
.lockbx .lock_ic {
  display: block;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 180px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  z-index: 5;
}
.lockbx .lock_ic:hover {
  width: 190px;
}
.lockbx .lock_ic p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  font-weight: bold;
  color: #373737;
}
.lockbx .lock_ic img {
  width: 100%;
}
.lockbx .swiper-wrapper {
  position: relative;
  width: auto;
  height: auto;
  z-index: 1;
  display: block;
  transition-property: auto;
  box-sizing: auto;
}
.pinbg {
  background-color: #faf1f6;
}
.pinbg .lockbx .subtit p {
  color: #a8a8a9;
}
.pinbg .mode_bx .sele {
  background-color: #fff;
}
/*--框樣式2 blocksy2-----*/
.blocksy2::after,
.blocksy2::before {
  display: none;
}
.blocksy2 {
  margin-bottom: 25px;
  padding-bottom: 30px;
}
.blocksy2 .phonecon {
  width: 27%;
  margin-right: 45px;
}

.blocksy2 .Rreacon {
  width: 50%;
}
.blocksy2 .Rreacon .tit01 {
  text-align: left;
}
.blocksy2 .inline {
  justify-content: flex-start;
  align-items: flex-start;
}
.blocksy2 .swiper-container {
  width: 100%;
}
.blocksy2 .mode_bx ul li {
  margin-bottom: 0px;
}
.blocksy2 .subtit {
  width: 440px;
  margin-bottom: 0;
}
.blocksy2 .subtit p {
  top: 25px;
  letter-spacing: 0.15rem;
  font-size: 1.3rem;
}
.linepay .blocksy2 .subtit p {
  top: 20px;
}
.blocksy2 .gallery-top {
  margin-top: -10px;
}
.blocksy2 .Rightbx .swiper-slide-thumb-active {
  background-color: #faf1f6;
}
.deco_wom {
  position: absolute;
  bottom: 90px;
  right: -10px;
  width: 180px;
  height: 280px;
  overflow: visible;
}
.deco_wom .imgbx {
  position: absolute;
}
.deco_wom .deco1 {
  bottom: -80px;
  z-index: 3;
  left: -130px;
  width: 180px;
  opacity: 0;
}
.wom_s2 .deco1 {
  width: 220px;
}

.deco_wom .deco2 {
  z-index: 2;
  bottom: -30px;
  opacity: 0;
}
.wom_s2 .deco2 {
  z-index: 4;
}
.deco_wom .deco3 {
  z-index: 1;
  top: -20px;
  width: 70px;
  left: -35px;
  animation-iteration-count: 1;
  opacity: 0;
  animation-duration: 3s;
  animation-delay: 0.3s;
}
.deco_wom .deco4 {
  z-index: 1;
  top: -80px;
  left: 80px;
  transform: rotate(70deg);
  width: 40px;
  animation-iteration-count: 1;
  opacity: 0;
  animation-duration: 3s;
}
.deco_wom .deco4 img {
  transform: rotate(45deg);
}
/*--dowlobx-----*/
.dowlobx {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
  position: relative;
  background-color: #f2f2f2;
}
.dowlobx a img:hover {
  opacity: 0.8;
}
.dowlobx .dowloqr,
.dowlobtn {
  position: absolute;
}
.dowlobx .dowloqr {
  width: 75px;
  left: 20px;
  top: 20px;
}
.dowlobx .dowloapp,
.dowlobx .dowlogoogle {
  width: 100%;
}
.dowlobtn {
  left: 100px;
  display: flex;
  justify-content: space-between;
  top: 50px;
}
/*--qabx-----*/
.qabigtit {
  margin-bottom: 40px;
}
.qabigtit:last-child {
  margin-bottom: 0;
}
.tit01 .qadeco {
  width: 100px; /* position:absolute;*/
  right: -20px;

  opacity: 0;
}
.qablock {
  padding-bottom: 10px;
}
.qabx {
  border-bottom: 1px solid #dae2ec;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.qabx:last-child {
  border-bottom: none;
}
.linepay .qabx:last-child {
  padding-bottom: 0px;
  margin-bottom: 0;
}
.qabx .qbx {
  padding-left: 45px;
  position: relative;
  color: #1e334e;
  font-size: 1.31rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.qabx .qbx:hover {
  margin-left: 10px;
  opacity: 0.8;
}
.qabx .qbx span {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: -3px;
  background: url(../images/qaic.png) no-repeat center center / contain;
}
.qabx .abx {
  margin-left: 45px;
  background-image: linear-gradient(to right, #f6f6f6 50%, #fff);
  padding: 20px;
  color: #313131;
  border-left: 5px solid #eb95cc;
  display: none;
}
.qabx .abx ol {
  list-style: decimal;
  padding: 0px 20px;
}
.qabx .abx a {
  color: #e92382;
}
.linepay .qabx .abx a {
  color: #2255a2;
}
.qabx .abx p {
  margin-bottom: 5px;
}
.qabx .abx ul li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 15px;
}
.qabx .abx .red {
  color: #e92382;
}
.qabx .abx ul li span {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
}
.qabx .abx ul li span::before {
  content: "";
  display: block;
  left: 0;
  top: 10px;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}
.qablock .sele .qbx {
  color: #e92382;
  margin-bottom: 15px;
}
.qablock .sele .qbx span {
  background: url(../images/qaic_sele.png) no-repeat center center / contain;
}
.qablock .sele .abx {
  display: block;
}
.inadmfiexed {
  display: none;
}
@media screen and (max-width: 1200px) {
  /*---banner-*/
  .bn02bx .step_bx {
    left: -70px;
    top: 240px;
  }
  /*---linebanner-*/
  .func_bx {
    flex-direction: column;
    padding-top: 30px;
    z-index: 5;
    position: relative;
  }
  .func_bx li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .func_bx .tit {
    padding-top: 0;
    width: 120px;
    flex: 0 0 auto;
  }
  .func_bx .tit .imgbx {
    width: 70px;
  }
  .func_bx .tit h4 {
    font-size: 1.125rem;
  }
  .inadmfiexed {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /*---頁籤-*/
  .tabx li {
    font-size: 1rem;
  }
  .tabx .imgbx {
    display: none;
  }
  .tabx .sele .bg {
    height: 45px;
  }
  .inad {
    display: block;
  }
  /*---banner---*/
  .tit01 li p {
    width: 25px;
    top: 40%;
  }
  .bn02bx .con .mobile {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .bn02bx .bndeco01 {
    left: -5%;
    z-index: 4;
  }
  .bn02bx .bndeco02 {
    z-index: 4;
    right: 0;
  }
  .bn02bx .bndeco03 {
    top: 40px;
    z-index: 4;
  }
  .bn02bx .bndeco04 {
    width: 70px;
    bottom: 0;
    z-index: 4;
  }
  .bn02bx .bndeco05 {
    width: 100px;
    left: 10%;
    top: 60%;
    z-index: 4;
  }
  .bn02bx .detail_step {
    padding-left: 80px;
    flex-direction: column;
    left: 0;
    align-items: flex-start;
  }
  .bn02bx .detail_step::before {
    left: 25px;
    top: -20px;
  }
  .bn02bx .detail_step .imgbx {
    width: 90px;
    position: absolute;
    left: -10px;
  }
  .bn02bx .Rbx p,
  .bn02bx .detail_step p span {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }
  .bn02bx .detail_step h5 {
    font-size: 1.125rem;
    left: 0;
    margin-bottom: 5px;
  }
  .bn02bx .titbx {
    z-index: 4;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .linepay .bn02bx .titbx {
    width: 100%;
    max-width: 400px;
  }
  .bn02bx .pagesize {
    flex-direction: column;
  }
  .bn02bx .con {
    width: 100%;
    padding-left: 0;
    max-width: 600px;
    margin: 0 auto;
  }
  .bn02bx .con:first-child {
    width: 100%;
    min-width: 0px;
    height: 500px;
    margin-top: -20px;
  }
  .bn02bx .con:last-child {
    margin-top: -30px;
  }
  .bn02bx .peoplebx {
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    left: 50%;
    width: 450px;
  }
  .bn02bx .phonebx {
    top: 40px;
    z-index: 7;
    animation-delay: 0.2s;
    animation-duration: 1.2s;
    left: 53%;
    transform: translateX(-50%);
    width: 200px;
  }
  .bn02bx .bg_01 {
    top: 00px;
    left: 51%;
    transform: translateX(-50%);
    animation-iteration-count: infinite;
    width: 480px;
    z-index: 6;
  }
  .bn02bx .bg_02 {
    left: 22%;
    transform: translateX(-50%);
    width: 500px;
    top: 0px;
  }
  .bn02bx .bg_03 {
    left: 14%;
    transform: translateX(-50%);
    width: 550px;
    top: -20px;
  }
  /*---linepay-*/
  .linepay .bn02bx .bg_01 {
    width: 520px;
    top: -50px;
    left: 53%;
  }
  /*--標題樣式1-----*/
  .tit01 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  .tit01 li {
    max-width: 46px;
    height: 60px;
    animation-duration: 1.2s;
  }
  .tit01 .deco {
    width: 28px;
  }
  /*--浮動紐-----*/
  .inad {
    right: 10px;
    transform: scale(0.8);
    top: 60%;
  }
  /*--裝飾-----*/
  .deco_wom {
    display: none;
  }
  /*--區塊一----*/
  .swiper-container {
    width: 50%;
    max-height: auto;
  }
  .swiper-slide .pic {
    width: 84%;
    height: 95%;
    background-color: #fff;
    position: absolute;
    left: 50.5%;
    top: 49.3%;
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 15px;
  }
  .gallery-top,
  .gallery-top4,
  .gallery-top5,
  .gallery-top6 {
    width: 40%;
    height: auto;
    padding: 0px 10px 0 0;
    margin-top: 0px;
    min-width: 150px;
    box-sizing: border-box;
    max-height: 450px;
  }
  .gallery-top4 .swiper-wrapper,
  .gallery-top5 .swiper-wrapper,
  .gallery-top6 .swiper-wrapper {
    transform: none;
  }
  .gallery-thumbs4,
  .gallery-thumbs5,
  .gallery-thumbs6 {
    /*min-height:420px;*/
    box-sizing: content-box;
    padding: 10px 0;
    padding-right: 25px; /*overflow:visible;*/
    width: 100%;
    margin-bottom: 25px;
  }
  .mode_bx {
    width: 100%;
  }
  .swiper-wrapper {
    height: auto;
  }
  .gallery-thumbs4 .swiper-slide,
  .gallery-thumbs5 .swiper-slide,
  .gallery-thumbs6 .swiper-slide {
    width: 100%;
    height: auto !important;
    opacity: 1;
    margin-bottom: 5px;
  }
  .mode_bx ul li {
    font-size: 1rem;
    padding: 10px 5px 10px 45px;
  }
  .subtit {
    width: 120px;
  }
  .subtit p {
    top: 7px;
    font-size: 1rem;
  }
  .mode_bx ul li span::before {
    width: 20px;
    height: 20px;
    left: -7px;
    top: 1px;
  }
  .mode_bx ul li span {
    font-size: 1rem;
    top: 6px;
  }
  .lockbx .lock_ic {
    width: 120px;
    top: 50%;
    z-index: 2;
  }
  .lockbx .lock_ic:hover {
    width: 120px;
  }
  .lockbx .lock_ic p {
    font-size: 0.275rem;
    white-space: nowrap;
    bottom: 30px;
  }
  .blocksy1 .inline {
    margin-top: -20px;
  }
  .blocksy1::before,
  .blocksy1::after {
    width: 40px;
  }
  .swiper-container .subtit {
    top: -5px;
  }
  .blocksy2 .subtit {
    width: 240px;
  }
  .blocksy2 .subtit p {
    font-size: 1.125rem;
    top: 20px;
    letter-spacing: 0.05rem;
    left: 52%;
  }
  .blocksy2 .swiper-container {
    padding-right: 0px;
  }
  .blocksy2 .tit01 {
    margin-bottom: 30px;
  }
  .swiper-slide-thumb-active::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0px;
    border-color: transparent #eaa1ce transparent transparent;
    transform: translateY(-50%);
    position: absolute;
    left: -12px;
    top: 50%;
    display: block;
  }
  .mode_bx .deco_pig {
    display: none;
  }
  .lockbx {
    max-height: 220px;
    overflow: hidden;
    position: relative;
  }
  .lockbx::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, #fff);
    display: block;
    position: absolute;
    z-index: 1;
  }
  .Rightbx .lockbx::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, #faf1f6);
    display: block;
    position: absolute;
    z-index: 1;
  }
  .blocksy2 .Rreacon .tit01 {
    justify-content: flex-start;
    display: none;
  }
  /*---linepay---*/

  .linepay .bn02bx .con:first-child {
    margin-bottom: 50px;
  }
  .func_bx {
    padding-top: 0px;
  }
  .linepay .bn02bx .phonebx {
    left: 53%;
    width: 235px;
  }
  .qatit {
    font-size: 1.25rem;
  }
  .blocksy2 .bn02bx .con:first-child {
    height: 370px;
  }
  /*---區塊更改一列---*/
  .blocksy1 .modebtn {
    justify-content: center;
    margin-bottom: 10px;
  }
  .modebtn a {
    background-color: #bfbfbf;
    display: block;
    padding: 5px 5px;
    width: 40%;
    color: #fff;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    position: relative;
  }
  .modebtn a::before {
    content: "";
    width: 100%;
    height: 33px;
    position: absolute;
    left: -5px;
    top: -3px;
    display: block;
    border: 1px solid #8e8b8b;
    border-radius: 10px;
  }
  .modebtn .sele {
    background-color: #e1b44f;
  }
  .modebtn .sele::before {
    border: 1px solid #8b6717;
  }
  .colummode .swiper-container {
    width: 100%;
  }
  .colummode .swiper-slide {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .colummode .imgbx {
    padding: 0px 20px;
    box-sizing: border-box;
    max-width: 250px;
    margin: 0 auto;
  }
  .colummode .mode_bx .succedsy span {
    top: 0;
    border-bottom: none;
  }
  .colummode .mode_bx ul li {
    border-bottom: none;
    position: relative;
    min-height: 95px;
    margin-bottom: 20px;
  }
  .clomode02 .inner_colum02-1 ul li {
    min-height: 150px;
  }
  .colummode .mode_bx ul .succedsy::before {
    content: "";
    width: 100%;
    height: 1.5px;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    background-color: #fdbe11;
  }
  .blocksy1 {
    padding-bottom: 20px;
  }
  .colummode .mode_bx ul .succedsy p {
    padding-top: 10px;
  }
  .dowlobx .mobile {
    display: none;
  }
  .dowlobx .web {
    display: block;
  }
  .colummode .inner_colum01-1,
  .colummode .inner_colum02-1 {
    overflow: hidden;
    height: 0;
  }
  .colummode .inner_colum01,
  .colummode .inner_colum02 {
    overflow: hidden;
  }
  .blocksy1 .clomode03 .modebtn {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .dowlobx .mobile {
    display: block;
  }
  .dowlobx .web {
    display: none;
  }
  .inadmfiexed {
    display: flex;
  }
  .inad {
    display: none;
  }
  /*--qabx-----*/
  .qabx {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .qabx .qbx:hover {
    margin-left: 0px;
    opacity: 1;
  }
  /*---banner---*/
  .bn02bx .peoplebx {
    width: 380px;
    left: 47%;
  }
  .bn02bx .phonebx {
    left: 50%;
    width: 180px;
    top: 30px;
  }
  .bn02bx .bg_01 {
    top: -20px;
    left: 51%;
    width: 400px;
  }
  .bn02bx .bg_02 {
    left: -5%;
    width: 450px;
    top: -40px;
  }
  .bn02bx .bg_03 {
    width: 450px;
    left: -10%;
    top: 20px;
  }
  .bn02bx .con:first-child {
    height: 380px;
  }
  .colummode .mode_bx ul .qrsuc::before {
    top: 35px;
    bottom: auto;
  }
  /*--內頁banner03-----*/
  .linepay .bn02bx .phonebx {
    top: 60px;
    z-index: 7;
    animation-delay: 0.2s;
    animation-duration: 1.2s;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
  }
  .linepay .bn02bx .peoplebx {
    top: 60%;
  }
  .linepay .bn02bx .bg_01 {
    top: 10px;
    left: 51%;
    width: 400px;
  }
  .linepay .bn02bx .bg_02 {
    left: -5%;
    width: 400px;
    top: 30px;
  }
  .linepay .bn02bx .bg_03 {
    left: -5%;
    width: 400px;
    top: 50px;
  }
  /*---qa---*/
  .qabx .qbx {
    font-size: 1rem;
  }
  .qabx .abx {
    padding: 10px;
    font-size: 0.9rem;
  }
  .tit01 .qadeco {
    display: none;
  }
  /*---標題---*/
  .tit01 {
    margin-bottom: 0;
  }
  /*---區塊二設定---*/
  .blocksy2:nth-child(2) {
    padding-top: 30px;
  }
  .blocksy2 .tit01 {
    margin-bottom: 15px;
  }
  .blocksy2 .subtit {
    width: 180px;
  }
  .blocksy2 .Rreacon {
    width: 50%;
    padding-top: 0;
    position: relative;
    top: -40px;
  }
  .gallery-thumbs .swiper-slide,
  .gallery-thumbs2 .swiper-slide,
  .gallery-thumbs3 .swiper-slide {
    margin-bottom: 0;
  }
  .blocksy2 .gallery-top .swiper-wrapper {
    width: 100%;
  }
  .blocksy2 .phonecon {
    position: relative;
    top: 50px;
  }
  .blocksy2 .mode_bx ul li {
    font-size: 0.875rem;
    min-height: 60px;
    margin-bottom: 20px;
  }
  .blocksy2 .colummode .mode_bx ul .succedsy::before {
    top: 35px;
  }
  .blocksy2 .colummode .mode_bx ul .othersuc::before {
    bottom: 0px;
    top: auto;
  }
  .blocksy1 .inline {
    justify-content: space-between;
  }
  .blocksy2 .subtit p {
    font-size: 0.875rem;
    top: 12px;
  }
  .blocksy2 .gallery-top {
    max-height: 350px;
  }

  /*---區塊設定---*/
  .gallery-top4,
  .gallery-top5,
  .gallery-top6 {
    max-height: 300px;
    margin-top: 60px;
  }
  /*--dowlobx-----*/
  .dowlobtn {
    margin: 0 auto;
    position: relative;
    left: auto;
    top: auto;
    padding: 0px 10px 20px 10px;
    width: 80%;
  }
  .dowlobx .mobile {
    width: 250px;
    margin: 0 auto;
  }
  .dowlobx .dowloapp,
  .dowlobx .dowlogoogle {
    width: 100%;
  }
  .dowlobx .dowloqr {
    position: relative;
    left: auto;
    top: auto;
    width: 70px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }
  .mode_bx ul li {
    padding: 5px 5px 5px 45px;
    font-weight: 500;
    box-sizing: border-box;
  }
  .swiper-container .mode_bx .succedsy span {
    width: 30px;
    left: 2px;
    top: 3px;
  }
  .indexl_1fm {
    padding: 0px 0px;
    margin: 20px 0;
  }
}
@media screen and (max-width: 320px) {
  /*---頁籤-*/
  .tabx li {
    font-size: 0.875rem;
  }
  /*---區塊-*/
  .bn02bx .bg_02 {
    left: -20%;
  }
  .gallery-top,
  .gallery-top4,
  .gallery-top5,
  .gallery-top6 {
    min-width: 130px;
    max-height: 240px;
  }
  .gallery-top,
  .gallery-top4,
  .gallery-top5,
  .gallery-top6 {
    display: none;
  }
  .lockbx {
    height: 200px;
  }
  .tit01 li p {
    width: 20px;
    top: 35%;
  }
  /*---區塊二設定---*/
  .blocksy2 .phonecon {
    display: none;
  }
  .blocksy2 .Rreacon {
    width: 100%;
  }
}
/*---forie 微調樣式--*/
@media screen and (min-width: 0\0) {
  #phoneanmi01 {
    display: none;
  }
  #phoneanmi02 {
    display: none;
  }
  .forie {
    display: block;
    animation-duration: 1s;
  }
  .linepay .forie {
    width: 250px;
    position: relative;
    left: 20px;
  }
  .linepay .swiper-slide .pic {
    left: 50.9%;
  }
}
