@charset "UTF-8";
/*Font_Noto Sans TC*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&display=swap&subset=chinese-traditional');
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,iframe,button,a{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	letter-spacing: 0.7px;
	vertical-align: baseline;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: 400;
	line-height: 120%;
}

body {
	color: #434343;
	background:#fff; 
	font:normal 18px/100% "Noto Sans TC", sans-serif;
	overflow-x: hidden;
	
}

html, body { height: 100%; }

a{
	color:#434343;
	text-decoration:none;
}
button{	background: none; }

h1, h2, h3, h4, h5, h6{ font-weight: normal; font-size:1rem; }

ol, ul {
	list-style: none;
}

table {width:auto; 	border-collapse: collapse; border-spacing: 0; }

input, button, textarea,select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
}
/*reset end*/

/*Input*/
input[type="text"],
input[type="password"] { width: 100%;font-size: 18px;border: 1px solid #000;padding: 5px 20px;border-radius: 50px;color: #7c7d92;}
.demo-2 ::-webkit-input-placeholder { color: #d1d7e1; }
/*Firefox 4-18瀏覽器專用*/
.demo-2 input::-moz-placeholder { color: #d1d7e1; }
/*Firefox 19+瀏覽器專用*/
.demo-2 input::-moz-placeholder{color:#d1d7e1;}
/*IE10瀏覽器專用*/
.demo-2:-ms-input-placeholder{color: #d1d7e1;}
textarea { border: 0; overflow-y: auto; resize: none; }


.inputbox { border: solid 2px #dcdcdc; border-radius: 4px; }
.inputbox input { padding: 0 10px; }


/*common use*/
.tL{ text-align:left; }
.tR{ text-align:right; }
.tC{ text-align:center; }
.tB{ font-weight:bold; }

.fL{ float:left; }
.fR{ float:right; }

.clr{clear:both;}

.web{ display:block; }
.mobile{ display:none; }

.tSmall { font-size: 18px; }
.tBig { font-size: 24px; }



/*-----------------頁面-----------------*/
.wrapper {  width:100%;margin: 0 auto;background-color: #fff; overflow: hidden;}
.pagesize { max-width: 1200px; margin: 0 auto; padding:0px 20px 0px 20px;position: relative;}
/*.pagesize::after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}/*==for FF/chrome/opera/IE8==*/
.header {background-color: #fff;box-shadow:0px 0px 20px rgba(0, 0, 0, 0.3);z-index: 999;position: absolute;top:0px;right: 0px;width:100%}
.header .pagesize{padding:20px 20px;width:100%;display: flex;align-items: center;justify-content: space-between;}
.logo ,  .login_btn{cursor: pointer;}
.login_btn{color:#e4383c;border-radius: 30px ;border:1px solid #e4383c;padding:10px 15px;position: relative;overflow: hidden;}
.login_btn:before, .login_btn:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;background-color: rgba(222,4,10,0.7);transition: all 0.3s;transform: translate(-100%,0);transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);}
.login_btn:after{transition-delay: 0.2s;}
.login_btn:hover:before, .login_btn:hover::after{transform: translate(0,0);  }
.login_btn:hover{color:#fff;}
.logo {position: relative;}
nav {position: absolute;width: 900px;left: 220px; bottom: 10px;}
nav ul{display: flex;position: relative;top: 10px;}
nav ul li{margin-right: 60px;transition: 0.3s ease-in-out;padding-bottom: 5px;border-bottom: 1px solid transparent;}
nav ul li::after {content: '';display: block; width: 0;height: 2px;background: #e4383c;transition:  0.3s;margin-top:5px}
nav ul li:hover {color:#e4383c}
nav ul li:hover::after { width: 100%; transition: 0.3s; color:#e4383c}

/*main-banner*/
.main-banner{height:500px;background-color: #eef2f9;overflow: hidden;}
.bannermax-w{max-width: 1700px;}
.banner_block{position: relative;}
.banner_block img{position: absolute;left:-80px;opacity: 0;height:500px;}
.turn_bannerbox{position: relative;}
.banner-wordbox{position: absolute;right:0px;z-index: 99;}
.deco004{position: absolute;top: 150px;right: 180px;animation-duration: 5s;animation-name: deco1;animation-duration: 2s;animation-iteration-count: infinite;transform: scale(1);;animation-delay: 0.2s;}
.deco001{position: absolute;top: 100px;right: 90px;animation-duration: 5s;animation-name: decos;animation-duration: 4s;animation-iteration-count: infinite;transform: scale(1);opacity:0;}
.deco002{position: absolute;top: 500px;right: 490px;animation-duration: 5s;animation-name: decoss;animation-duration: 4s;animation-iteration-count: infinite;transform: scale(1);animation-delay: 0.2s;opacity:0;}
.deco003{position: absolute;top: 300px;right: 690px;animation-duration: 5s;animation-name: decosss;animation-duration: 4s;animation-iteration-count: infinite;transform: scale(1);animation-delay: 0.1s;opacity:0;}
.deco005{position: absolute;top: 320px;right: 500px;animation-duration: 5s;animation-duration: 5s;animation-delay: 0.4s;animation-name: decossss;opacity:0.5;animation-iteration-count: infinite;}
.deco006{position: absolute;top: 220px;right: 40px;animation-duration: 5s;animation-duration: 5s;animation-delay: 0.4s;animation-name: decosssss;opacity:0.5;animation-iteration-count: infinite;}

@keyframes decosss {
	0%   {top: 300px;right: 690px;opacity:0.4;}
    50% {opacity:1;}
	100% {top: 700px;right: 1090px;opacity: 0.4;}
  }
@keyframes decoss {
	0%   {top: 500px;right: 490px;opacity:0.4;}
	50% {opacity:1;}
	100% {top: 700px;right: 790px;opacity:0.4;}
  }
@keyframes decos {
	0%   {top: 100px;right: 90px;opacity:0.4;}
	50% {opacity:1;}
	100% {top: 700px;right: 750px;opacity:0.4;}
  }
.bannerdeco{position: absolute;right:-10px;top:0px;width:750px;opacity: 0;}
@keyframes deco1 {
	0%   {transform: scale(1)}
	25%  {transform: scale(1.1)}
	50%  {transform: scale(1)}
	75%  {transform: scale(1.1)}
	100% {transform: scale(1)}
  }
.bannerword{position: absolute;right:270px;top:180px;z-index: 999;}
/*part01*/
.part01{position: relative;overflow: hidden;width:100%;height:300px;padding:20px 0px;background-repeat: no-repeat;background-size: contain;background-position: left bottom;}
.background01{position: absolute;bottom:0px;left: 0px;}
.part01_wordbox{text-align: center;padding-top: 20px;max-width: 600px;margin:0 auto}
.title01 span{border-radius: 50%;background-color: #63abdc;color:#fff;padding:15px 10px;margin:0px 25px;animation-duration: 2s;animation-name: anim3;animation-iteration-count: infinite;font-size: 1.25rem;}

@keyframes anim3 {
	0%   {padding:15px 10px;font-size: 1.25rem;}
	25%  {padding:18px 13px;font-size: 1.3rem;}
	50%  {padding:15px 10px;font-size: 1.25rem;}
	75%  {padding:18px 13px;font-size: 1.3rem;}
	100% {padding:15px 10px;font-size: 1.25rem;}
  }

.part01_wordbox .title01 .red_circle{background-color: #ed6180;}
.title01{margin-bottom: 30px;}
.title01 h3{font-size: 2.25rem;}
.title01 h3 span{font-size: 1.5rem;}
.part01_wordbox h6{font-weight: bold;font-size: 2.55rem;letter-spacing: 0.2rem;padding:5px 30px;position: relative;bottom:-10px;opacity: 0;}
.part01_wordbox p{color:#0274ba;font-size: 1.5rem;letter-spacing: 0.8rem; font-weight: bold;margin-top:20px;position: relative;bottom:-10px;opacity: 0;}

/*part02*/
.part02{position: relative;height:900px;margin:0 auto}
.taiwan{top:0px;left: -30px;position: absolute;width:70%;height:700px;background-size: cover;clip-path: polygon(100% 0, 0 0, 0 100%, 88% 100%);box-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);opacity: 0;filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.4));}
.usa{top:70px;right:-30px;position: absolute;width:60%;height:700px;background-size: cover;clip-path: polygon(24% 0, 100% 0, 100% 100%, 6% 100%);box-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);opacity: 0;filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));}
.taiwant{position: absolute;top:70px;left:40%;transform: translateX(-50%);width:400px;opacity: 0;}
.taiwaninfo{position: absolute;bottom:80px;;left:50%;transform: translateX(-50%);}
.usat{position: absolute;top:70px;left:40%;transform: translateX(-30%);width:400px;opacity: 0;}
.usainfo{position: absolute;bottom:120px;;left:50%;transform: translateX(-30%);}
.btn01{position: absolute;left:20%;bottom:180px;color:#fff;background-color: #0076c5;padding: 15px 55px;font-size: 1.5rem;box-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);cursor: pointer;transition: all 0.5s;;overflow: hidden;}	
.btn01:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;border: 1px solid rgba(255,255,255,0.5);transition: all 0.3s;}
.btn01:hover:before{opacity: 0;transform: scale(1.2,1.2);}
.btn01:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;opacity: 0;background-color: rgba(255,255,255,0.25);transition: all 0.3s;transform: scale(0.5,0.5);}
.btn01:hover:after{opacity: 1 ;transform: scale(1,1);}
.btn02{position: absolute;right:30%;bottom:100px;color:#fff;background-color: #d54e6f;padding: 15px 55px;font-size: 1.5rem;box-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);cursor: pointer;transition: all 0.5s;;overflow: hidden;}
.btn02:before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;border: 1px solid rgba(255,255,255,0.5);transition: all 0.3s;}
.btn02:hover:before{opacity: 0;transform: scale(1.2,1.2);}
.btn02:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;opacity: 0;background-color: rgba(255,255,255,0.25);transition: all 0.3s;transform: scale(0.5,0.5);}
.btn02:hover:after{opacity: 1 ;transform: scale(1,1);}
.num{font-size: 3.75rem;color:#fff;position: absolute;text-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);transform: scale(0.9);animation-name: num;animation-duration: 2s;animation-iteration-count: infinite;}
@keyframes num  {
	0%   {transform: scale(0.9);}
	25%  {transform: scale(1);}
	50%  {transform: scale(0.9);}
	75%  {transform: scale(1);}
	100% {transform: scale(0.9);}
  }

.num6{bottom: 40px;}
.num9{bottom: 126px;left: 140px;}
.num122{right: 180px;top: 50px;}
.num20{left: -165px;bottom: 130px;}
.num33{bottom: 220px;left: 20px;}
.num24{left: 140px;bottom: 330px;}


/*part03*/
.part03{text-align: center;margin:0 auto;overflow: hidden;}
.title_03{color:#37363c;font-size: 3rem;font-weight: bold;margin-bottom: 45px;letter-spacing: 0.8rem;position: relative;display: inline-block;bottom:-20px;opacity: 0;}
.title_03 .deco01{position: absolute;right: -60px;}
.title_03 .deco02{position: absolute;top:70px;right:0px}
.sub_title{color:#000000;font-size: 1.5rem;margin-bottom: 50px;bottom:-20px;opacity: 0;position: relative;}
.phone-box{position: relative;bottom:-30px;opacity: 0;}
.phone-box .pagesize{height:500px;width:100%;padding-top:40px}
.phone{  position: absolute;top:50%;left: 50%;transform: translate(-50%, -50%);z-index: 999;}
.circle01{border:10px solid #f54d71;border-radius:999em;width:400px;height:400px;position: absolute;left: 200px;opacity: 0;}
.circle02{border: 4px dotted #f54d71;border-radius: 999em;width: 400px;height: 400px;position: absolute; right: 190px;top: 150px;opacity: 0;}
.icon01{position: absolute;top: 78px; left: -40px;z-index: 999;}
.icontext01{position: absolute; top: 150px;left: -80px;}
.icon02{position: absolute;top: -30px; left: 190px;z-index: 999;}
.icontext02{position: absolute;top: 50px; left: 160px;}
.icon03{position: absolute;top: 90px;right: -20px; z-index: 999;}
.icontext03{position: absolute;top: 160px;right: -100px;}
.icon{transform: scale(1);animation-name: anmi6;animation-duration: 2s;animation-iteration-count: infinite;}
@keyframes anmi6  {
	0%   {transform: scale(1);}
	25%  {transform: scale(1.1);}
	50%  {transform: scale(1);}
	75%  {transform: scale(1.1);}
	100% {transform: scale(1);}
  }
/*footer*/
footer{background-color:#932422;text-align: center;padding:20px 0px}
footer p{font-size: 1rem;color:#fff;font-weight: 300;line-height: 1.5;}









