/*----------------------------------------------------*/
/* for 小網選單pagemenu.js */
/*----------------------------------------------------*/
%transition-time {
  transition: 0.2s;
}

/* page */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  @extend %transition-time;
  z-index: 2;
}
.page_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -2;
}
.openmenu {
  // position: fixed;
}
.page.openmenu .page_cover {
  z-index: 1001;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  // background: #fff;
}

/* menu */
#pageMenu {
  position: fixed;
  z-index: 9999;
  width: 60%;
  height: 100vh;
  background: #fff;
  @extend %transition-time;
}
.openmenu ~ #pageMenu {
}

/* menu_清單 */
#pageMenu ul {
  list-style: none;
  padding-left: 20px;
}
#pageMenu ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #ccc;
  color:inherit;
  text-decoration: none;
}

/* menu_按鈕 */
// .pageMenu-btn {
//   display: block;
//   position: absolute;
//   left: 15px;
//   top: 15px;
//   width: 30px;
//   height: 30px;
//   background-size: 24px;
//   outline: none;
//   border: none;
// }
// .pageMenu-btn .line {
//   display: block;
//   position: absolute;
//   left: 4px;
//   width: 20px;
//   height: 2px;
//   background-color: #777;
//   border-radius: 2px;
//   @extend %transition-time;
// }
// .pageMenu-btn .line01 {
//   top: 7px;
// }
// .pageMenu-btn .line02 {
//   top: 14px;
// }
// .pageMenu-btn .line03 {
//   top: 21px;
// }

// /* menu_按鈕_展開 */
// .openmenu .pageMenu-btn .line01 {
//   width: 24px;
//   top: 14px;
//   left: 2px;
//   transform: rotate(-45deg);
// }
// .openmenu .pageMenu-btn .line02 {
//   display: none;
// }
// .openmenu .pageMenu-btn .line03 {
//   width: 24px;
//   top: 14px;
//   left: 2px;
//   transform: rotate(45deg);
// }

//menu長出方向_左
.show-left.openmenu {
  transform: translateX(60%);
}
.show-left ~ #pageMenu {
  top: 0;
  left: -60%;
}
.show-left.openmenu ~ #pageMenu {
  left: 0;
}
//menu長出方向_右
.show-right.openmenu {
  transform: translateX(-60%);
}
.show-right ~ #pageMenu {
  left: auto;
  right: -60%;
}
.show-right.openmenu ~ #pageMenu {
  right: 0;
}
//menu長出方向_上
.show-up ~ #pageMenu {
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}
.show-up.openmenu ~ #pageMenu {
  top: 0;
}
.show-up.openmenu {
  transform: translateX(0);
}

/*------------------------------------------*/
//第二層選單
#pageMenu .hasSub {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(../images/arror-down-primary.svg) center center no-repeat;
    background-size: auto 24px;
    cursor: pointer;
    outline: none;
    border: none;
    @extend %transition-time;
  }
  &.open > button {
    transform: scaleY(-1);
  }
}