@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;600&family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #fff;
  /* font: normal 16px/140% "微軟正黑體", Arial, Helvetica; */
  font: 20px/140% 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  background-size: 100% 3px;
  box-sizing: border-box;
  background: #fff;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

}

html {
  /*safari內網頁的字體不會無緣無故變大*/
  -webkit-text-size-adjust: 100%;
}

div,
p,
span,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
table,
td,
th,
img {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  border: none;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 1px;
}

img {
  border: none;
  display: block;
  width: 100%;
}

ul,
li {
  list-style: none;
}

ol {
  padding: inherit;
}

ol li {
  list-style: decimal;
}

html:focus,
body:focus,
div:focus {
  outline: none;
}

/* 排列 */
.fL {
  float: left;
}

.fR {
  float: right;
  text-align: right;
}

.clearfix:before,
.clearfix:after {
  line-height: 0;
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

.tL {
  text-align: left;
}

.tR {
  text-align: right;
}

.tC {
  text-align: center;
}

.tC img {
  margin: 0 auto;
}

.tB {
  font-weight: bold;
}

.clr {
  clear: both;
}

.web {
  display: block;
}

.mobile {
  display: none;
}

figure {
  margin: 0;
}


/* 連結 */
.alink {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/* -----頁面架構開始-----*/

.wrapper {
  width: 100%;
  overflow: hidden;
}

.in {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

/*header*/
header {
  padding: 15px 0;
  background-color: #f5f5f5;
  position: relative;

}

header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(80%);
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, #f5f5f5, transparent);
  z-index: 1;
}

header h1 a {
  display: block;
  width: 180px;
  height: 54px;
  background: url(../images/logo_sinoPac.svg)no-repeat center center / contain;
}

/* 內容開始 */

/* 主視覺區塊 */
.kv-block {
  position: relative;
}

.kv-block .in {
  position: relative;
  z-index: 2;
}

.kv-block::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #eee url(../images/background-map.svg)no-repeat center center / cover;
  opacity: .6;
}

.kv-block .circle-bg {
  width: 2800px;
  height: 2000px;
  background-color: #f37521;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 1580px);
}

.center-txt {
  text-align: center;
  position: relative;
  z-index: 2;
}

.center-txt h2 {
  font-size: 2.3rem;
  color: #1f1212;
  font-weight: bold;
  margin-bottom: 20px;
}

.kv-block .bt-txt {
  position: relative;
  z-index: 5;
  text-align: center;
}

.kv-block h4 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 30px;
}

.kv-block h4 span {
  font-size: 2.8rem;
  font-weight: 500;
}

.kv-block .atm-location {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.kv-block .atm-location a {
  width: 100%;
  max-width: 250px;
  padding: 8px 10px;
  border-radius: 0 80px 80px 0;
  background-color: #c6140b;
  font-size: 2.18rem;
  color: #fff;
  text-align: center;
  position: relative;
  transition: 0.2s all ease-in-out;
}

.kv-block .atm-location a:hover {
  background-color: #d61a11;
  transform: scale(1.1);
}

.kv-block .atm-location a:nth-child(2) {
  background-color: #147e15;
}

.kv-block .atm-location a:nth-child(2):hover {
  background-color: #1a8b1c;
}

.kv-block .atm-location a::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translateX(-45px);
  bottom: -2px;
  width: 100%;
  height: 105%;
  background: url(../images/location_01.svg)no-repeat left center / contain;
}

.kv-block .atm-location a:nth-child(2)::before {
  background: url(../images/location_02.svg)no-repeat left center / contain;
}

.kv-block .atm-location a span {
  display: block;
  font-size: 1.375rem;
  font-weight: 300;
  margin-top: -5px;
  margin-bottom: 5px;
}

.kv-block .atm-location a+a {
  margin-left: 60px;
}

.tit_sy1 {
  margin-bottom: 45px;
}

.tit_sy1 span {
  width: 96px;
  height: 96px;
  position: relative;
  display: inline-block;
  margin: 0 15px;
  font-size: 4.5rem;
}

.tit_sy1 span::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 6px solid #000;
  background-color: #f35c21;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  line-height: 1.2;
  font-weight: bold;
}

.tit_sy1 span:nth-child(1)::before {
  content: "好";
}

.tit_sy1 span:nth-child(2)::before {
  content: "康";
}

.tit_sy1 span:nth-child(3)::before {
  content: "持";
}

.tit_sy1 span:nth-child(4)::before {
  content: "續";
}

.tit_sy1 span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(18px, 18px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.center-txt {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  min-height: 650px;
}

.center-txt h3 {
  margin-left: 120px;
  width: calc(100% - 120px);
  max-width: 600px;
}

.ticketBox {
  margin-bottom: 10px;
  position: relative;
}

.ticketBox .lineBar {
  width: 100%;
  background-color: #423a3a;
  border-radius: 5px;
  height: 42px;
  margin: 0 auto;
  position: relative;
}

.ticketBox .lineBar::before {
  content: "";
  width: 95%;
  height: 12px;
  background-color: #000;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ticketBox .paper {
  width: 90%;
  margin: 0 auto;
  margin-top: -26px;
  background-color: #fff;
  /* padding: 45px 20px 45px 20px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 3.5rem;
  border-radius: 0 0 20px 20px;
  font-weight: bold;
  height: 0px;
  padding: 0;
  overflow: hidden;
  -webkit-animation: forwards;
  animation: forwards;
  -webkit-animation-name: paper;
  animation-name: paper;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes paper {
  0% {
    height: 0px;
    padding: 0;
    overflow: hidden;
  }

  100% {
    height: auto;
    padding: 45px 20px 45px 20px;
    overflow: auto;
  }
}

@keyframes paper {
  0% {
    height: 0px;
    padding: 0;
    overflow: hidden;
  }

  100% {
    height: auto;
    padding: 45px 20px 45px 20px;
    overflow: initial;
  }
}

.ticketBox .paper .web {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ticketBox .paper::before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #888383 0%, transparent 50%);
}

.ticketBox .handDeco {
  width: 140px;
  position: absolute;
  left: -25px;
  top: 0;
  opacity: 0;
  transform: translateY(-78%);
  -webkit-animation: forwards;
  animation: forwards;
  -webkit-animation-name: hands;
  animation-name: hands;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes hands {
  0% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0;
  }

  100% {
    transform: translateY(-78%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes hands {
  0% {
    transform: translateY(0%)rotate(45deg);
    opacity: 0;
  }

  100% {
    transform: translateY(-78%)rotate(0deg);
    opacity: 1;
  }
}

.ticketBox .handDeco .line {
  width: 50px;
  height: 50px;
  background: url(../images/hand_money_line.svg)no-repeat center center / contain;
  position: absolute;
  right: -10px;
  top: 30px;

}

.ticketBox .paper .bottom {
  width: 105%;
  position: absolute;
  bottom: 0;
  right: 2px;
}

.ticketBox .paper .star {
  position: absolute;
  right: 50px;
  bottom: 70px;
  width: 70px;
}

.ticketBox .paper span {
  display: block;
  font-weight: bold;
}

.ticketBox .paper .txt {
  position: relative;
  font-weight: bold;
}

.paper .l-txt {
  text-align: right;
  left: 10px;
}

.paper .r-txt {
  text-align: left;
}

.paper .c-txt {
  font-size: 17rem;
  color: #e71a0f;
  margin: 0 10px;
  width: 180px;
  height: 180px;
  position: relative;
  top: -15px;
}

.paper .c-txt img {
  width: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.paper .txt span {
  white-space: nowrap;
  margin-top: -10px;
  color: #e71a0f;
}

.paper .txt span.sale {
  font-size: 2.18rem;
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  border-radius: 40px;
  line-height: 1;
  margin-left: -60px;
  position: relative;
  margin-bottom: 30px;
  top: 10px;
  overflow: hidden;
}

.paper .txt span.sale::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  transform: skewX(319deg);
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.6), transparent);
  -webkit-animation: shine01 2s ease infinite;
  animation: shine01 2s ease infinite;
}

@-webkit-keyframes shine01 {
  100% {
    left: 200%;
  }
}

@keyframes shine01 {
  100% {
    left: 200%;
  }
}

.paper .money {
  width: 80px;
  height: 80px;
  background: url(../images/money.svg)no-repeat center center / contain;
  position: absolute;
}

.paper .money-1 {
  right: 0;
  top: 5%;
  transform: translateX(150%);
}

.paper .money-2 {
  left: 0;
  top: 8%;
  transform: translateX(-170%) rotatey(179deg) rotate(20deg);
  width: 120px;
  height: 120px;
}

.paper .money-3 {
  left: 0;
  top: 50%;
  transform: translateX(-150%) rotatey(0deg) rotate(182deg);
  width: 60px;
  height: 60px;
}

.block {
  padding: 40px 0;
  z-index: 2;
  position: relative;
}

.kv-block .atm {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
}

.kv-block .atm::after {
  content: '';
  width: 60px;
  height: 60px;
  background: url(../images/atm.svg)no-repeat center center / contain;
  top: 0;
  display: block;
  -webkit-animation: bounce .5s ease infinite alternate;
  animation: bounce .5s ease infinite alternate;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@-webkit-keyframes bounce {
  100% {
    top: -20px;

  }
}

@keyframes bounce {
  100% {
    top: -20px;

  }
}

.kv-block .atm::before {
  content: "";
  width: 36px;
  height: 11px;
  border-radius: 50%;
  background-color: #b5b5b5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-animation: bounce-shadow .5s ease infinite alternate;
  animation: bounce-shadow .5s ease infinite alternate;
}

@-webkit-keyframes bounce-shadow {
  100% {
    width: 26px;

  }
}

@keyframes bounce-shadow {
  100% {
    width: 26px;

  }
}

.deco-atm {
  opacity: 0;
  -webkit-animation: forwards;
  animation: forwards;
  -webkit-animation-name: atmShow;
  animation-name: atmShow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

@-webkit-keyframes atmShow {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 100;
  }
}

@keyframes atmShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.kv-block .atm-1,
.kv-block .atm-2,
.kv-block .atm-3 {
  left: 0;
}

.kv-block .atm-4,
.kv-block .atm-5,
.kv-block .atm-6 {
  right: 0;
}

.kv-block .atm-1 {
  top: 10%;
  transform: translateX(-380%);
}

.kv-block .atm-2 {
  top: 28%;
  transform: translateX(-200%);

}

/* .kv-block .atm-1::after,
.kv-block .atm-1::before {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.kv-block .atm-2::after,
.kv-block .atm-2::before {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.kv-block .atm-3::after,
.kv-block .atm-3::before {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.kv-block .atm-4::after,
.kv-block .atm-4::before {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

.kv-block .atm-5::after,
.kv-block .atm-5::before {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.kv-block .atm-6::after,
.kv-block .atm-6::before {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
} */

.kv-block .atm-3 {
  top: 55%;
  transform: translateX(-380%);
}

.kv-block .atm-4 {
  top: 5%;
  transform: translateX(150%);
}

.kv-block .atm-5 {
  top: 30%;
  transform: translateX(380%);
}

.kv-block .atm-6 {
  top: 60%;
  transform: translateX(320%);
}

.tit_sy1 .atm-mobile {
  display: none;
}

/* 詳細辦法 */
.block.active {
  background-color: #f37521;
}

.frame {
  border: 3px solid #000;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}

.active h2 {
  position: relative;
  margin-top: -60px;
  font-size: 2.5rem;
  margin-bottom: 30px;
  width: calc(100% + 20px);
  margin-left: -10px;
}

.active h2::before {
  content: "";
  width: calc(100% - 40px);
  max-width: 400px;
  height: 100%;
  background-color: #f37521;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.active h2 span {
  position: relative;
  margin: 0 20px;
}

.active h2 span::before {
  width: 62px;
  height: 62px;
  background-color: #fff100;
  border-radius: 5px;
  border: 3px solid #000;
  position: absolute;
  color: #000;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.active h2 span::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px;
  border: 3px solid #000;
  background-color: #000;
  width: 62px;
  height: 62px;
  font-weight: bold;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.active h2 span:nth-child(1):before {
  content: "詳";
}

.active h2 span:nth-child(2):before {
  content: "細";
}

.active h2 span:nth-child(3):before {
  content: "辦";
}

.active h2 span:nth-child(4):before {
  content: "法";
}

.active h3.time {
  padding: 9px 5px;
  width: 100%;
  max-width: 400px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.active h3.time::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
  border-radius: 10px;
  border: 3px solid #000;
}

.active h3.time::before {
  content: "";
  display: block;
  width: 100%;
  max-width: 400px;
  height: 110%;
  position: absolute;
  left: 8px;
  top: 3px;
  background-color: #000;
  border-radius: 10px;
  z-index: 1;
}

.time span {
  position: relative;
  z-index: 3;
  color: #000;
  font-weight: bold;
}

.active p {
  font-size: 1.5rem;
  font-weight: 500;
}

.active p strong {
  font-size: 2.1875rem;
  color: #fff100;
}

.active p+p {
  margin-top: 25px;
}

.active p.tips {
  background-color: #de600c;
  font-size: 1.125rem;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: 400;
}

/* 注意事項 */
.block.notice {
  background-color: #de600c;
}

.notice h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

ol {
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
}

ol li {
  list-style: decimal;
  font-size: 1.125rem;
  margin-bottom: 10px;

}

/* footer */
footer {
  background-color: #254a91;
  text-align: center;
  padding: 20px 15px;
  position: relative;
}

footer p {
  display: inline-block;
  font-size: 1.125rem;

}

footer p a {
  transition: 0.2s all ease-in-out;
}

footer p a:hover {
  color: #f5bb19;

}

footer p.web {
  display: inline-block;
}

footer p+p {
  margin-left: 15px;
}

.fixedButton {
  position: fixed;
  right: 20px;
  bottom: 5%;
  width: 150px;
  display: block;
  z-index: 10;
  transition: 0.2s all ease-in-out;
}

.fixedButton:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1300px) {

  /* 主視覺 */
  .center-txt {
    max-width: 630px;
    min-height: 600px;
  }

  .center-txt h2 {
    font-size: 1.7rem;
  }

  .tit_sy1 span {
    font-size: 3.8rem;
    width: 80px;
    height: 80px;
  }

  .ticketBox .paper {
    font-size: 2.5rem;
  }

  .paper .txt span.sale {
    font-size: 2rem;
    margin-bottom: 10px;
    top: 0px;
  }

  .kv-block .atm {
    width: 55px;
  }

  .kv-block .atm::after {
    width: 55px;
    height: 55px;
  }

  .kv-block .atm-1 {
    top: 5%;
    transform: translateX(-300%);
  }

  .kv-block .atm-3 {
    top: 45%;
    transform: translateX(-480%);
  }

  .kv-block .atm-4 {
    top: 5%;
    transform: translateX(250%);
  }

  .kv-block .atm-5 {
    top: 22%;
    transform: translateX(180%);
  }

  .kv-block .atm-6 {
    top: 45%;
    transform: translateX(450%);
  }
}

@media screen and (max-width: 992px) {
  .block {
    padding: 30px 0;
  }

  /* header */
  header h1 a {
    width: 140px;
    height: 42px;
  }

  /* 主視覺 */
  .ticketBox .paper .star {
    bottom: 60px;
  }

  .center-txt {
    max-width: 550px;
    min-height: 550px;
  }

  .kv-block .circle-bg {
    transform: translate(-50%, 1620px);
  }

  .paper .c-txt {
    width: 150px;
  }

  .paper .c-txt img {
    width: 160px;
  }

  .ticketBox .paper {
    font-size: 2rem;
    /* padding: 30px 20px 30px 20px; */
  }

  @-webkit-keyframes paper {
    0% {
      height: 0px;
      padding: 0;
      overflow: hidden;
    }

    100% {
      height: auto;
      padding: 30px 20px 30px 20px;
      overflow: auto;
    }
  }

  @keyframes paper {
    0% {
      height: 0px;
      padding: 0;
      overflow: hidden;
    }

    100% {
      height: auto;
      padding: 30px 20px 30px 20px;
      overflow: initial;
    }
  }

  .paper .txt span.sale {
    font-size: 1.7rem;
    margin-bottom: 0px;
    top: -10px;
    margin-left: -50px;
  }

  .kv-block .atm-6,
  .kv-block .atm-3 {
    display: none;
  }

  .kv-block .atm {
    width: 40px;
  }

  .kv-block .atm::after {
    width: 50px;
    height: 50px;
  }

  .kv-block .atm-6 {
    width: 20px;
    height: 5px;
    transform: translate(-50%, 10%);
  }

  .kv-block .atm-1 {
    transform: translateX(-100%);
  }

  .kv-block .atm-2 {
    transform: translateX(-240%);
  }

  .kv-block .atm-4 {
    transform: translateX(80%);
    top: -2%;
  }

  .kv-block .atm-5 {
    transform: translateX(240%);
  }

  .paper .money-1 {
    top: 20%;
    transform: translateX(180%);
    width: 50px;
    height: 50px;
  }

  .paper .money-2 {
    top: -5%;
    width: 70px;
    height: 70px;
  }

  .paper .money-3 {
    top: 25%;
    width: 40px;
    height: 40px;
  }

  .kv-block h4 {
    font-size: 1.875rem;
  }

  .kv-block h4 span {
    font-size: 2.375rem;
  }

  .fixedButton {
    width: 120px;
  }

  .kv-block .atm-location a {
    padding: 5px 10px;
    font-size: 1.75rem;
  }

  .kv-block .atm-location a span {
    font-size: 1.25rem;
  }

  .kv-block .atm-location a::before {
    transform: translateX(-35px);
  }

  .tit_sy1 span {
    font-size: 3.3rem;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    text-align: center;
  }

  /* 詳細辦法 */
  .active h2 span::after,
  .active h2 span::before {
    width: 55px;
    height: 55px;
    font-size: 2.3rem;
  }

  .frame {
    padding: 30px 10px;
  }

  .active p.tips {
    border-radius: 10px;
  }

  /* 注意事項 */
  .notice h3 {
    font-size: 1.375rem;
  }

  ol li {
    font-size: 1rem;
  }

  /* footer */
  footer p {
    font-size: 1rem;
  }

}


@media screen and (max-width: 767px) {
  .in {
    padding: 0 15px;
  }

  .web {
    display: none;
  }

  .mobile {
    display: block;
  }

  /* header */
  header {
    padding: 12px 0;
    padding-bottom: 25px;
  }

  header h1 a {
    width: 120px;
    height: 36px;
  }

  /* 主視覺 */
  .center-txt {
    min-height: 480px;
  }

  .kv-block h4 span {
    display: block;
    font-size: 2rem;
  }

  .kv-block h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .paper .txt span.sale {
    font-size: 1.5rem;
  }

  .paper .c-txt img {
    width: 120px;
  }

  .ticketBox .paper .star {
    right: 0px;
    bottom: 20px;
    transform: translateX(80%);
    width: 8vw;
  }

  .ticketBox .paper {
    /* padding: 0 10px 20px 10px; */
  }

  @-webkit-keyframes paper {
    0% {
      height: 0px;
      padding: 0;
      overflow: hidden;
    }

    100% {
      height: auto;
      padding: 0 10px 20px 10px;
      overflow: auto;
    }
  }

  @keyframes paper {
    0% {
      height: 0px;
      padding: 0;
      overflow: hidden;
    }

    100% {
      height: auto;
      padding: 0 10px 20px 10px;
      overflow: initial;
    }
  }

  .ticketBox .paper .web {
    display: none;
  }

  .ticketBox .paper .mobile {
    padding: 20px 0 20px 0;
    position: relative;
  }

  .ticketBox .paper .mobile p {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .ticketBox .paper .mobile p span {
    width: 40px;
    position: relative;
    margin: 0 5px;
  }

  .ticketBox .paper .mobile p span::before {
    content: "3";
    position: absolute;
    bottom: -3px;
    font-size: 3.875rem;
    left: 50%;
    line-height: 1;
    transform: translateX(-50%);
    color: #e71a0f;
  }

  .ticketBox .paper .mobile p.sale {
    background-color: #000;
    color: #fff;
    border-radius: 60px;
    padding: 3px 35px;
    font-size: 1.875rem;
    margin: 10px 0;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    letter-spacing: 2px;
    display: inline-block;
  }

  .ticketBox .paper .mobile p.sale::after {
    content: '';
    ;
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    transform: skewX(319deg);
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.6), transparent);
    -webkit-animation: shine01 2s ease infinite;
    animation: shine01 2s ease infinite;
  }

  .ticketBox .paper .mobile span {
    display: inline-block;

  }

  .ticketBox .handDeco {
    width: 80px;
    left: -10px;
  }

  .ticketBox .handDeco .line {
    width: 40px;
    height: 40px;
    right: -13px;
    top: 10px;
  }

  .center-txt h3 {
    margin-left: 70px;
    width: calc(100% - 70px);
    margin-bottom: 10px;
  }

  .center-txt h2 {
    font-size: 1.25rem;
  }

  .kv-block .circle-bg {
    width: 1800px;
    height: 2000px;
    transform: translate(-50%, 1670px);
  }

  .kv-block .atm-location {
    margin-bottom: 20px;
    margin-left: 35px;
    width: calc(100% - 45px);
  }

  .kv-block .atm-location a::before {
    transform: translateX(-28px);
    bottom: -1px;
  }

  .kv-block .atm-location a {
    font-size: 1.25rem;
    padding: 5px 10px 5px 20px;
    border-radius: 0 20px 20px 0;
    max-width: 180px;
  }

  .kv-block .atm-location a span {
    font-size: 0.875rem;
  }

  .kv-block .atm-location a+a {
    margin-left: 40px;
  }

  .kv-block .atm {
    display: none;
  }

  .paper .money-3 {
    top: 35%;
    left: 20px;
  }

  .paper .c-txt {
    width: 120px;
  }

  .paper .c-txt img {
    width: 136px;
  }

  .paper .txt span.sale {
    font-size: 1.5rem;
    padding: 10px 15px;
  }

  .tit_sy1 {
    margin-bottom: 30px;
    padding-right: 120px;
    position: relative;
    text-align: right;
    display: inline-block;
  }

  .tit_sy1 .atm-mobile {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    display: block;
  }

  .tit_sy1 .atm-mobile .money-1 {
    position: absolute;
    -webkit-animation: money-1 2s ease infinite;
    animation: money-1 2s ease infinite;
  }

  @-webkit-keyframes money-1 {
    0% {
      width: 0px;
      right: 20px;
      top: 0;
      transform: rotate(-45deg);
      opacity: 0;
    }

    100% {
      width: 20px;
      right: -10px;
      top: 20px;
      transform: rotate(10deg);
      opacity: 1;
    }

  }

  @keyframes money-1 {
    0% {
      width: 0px;
      right: 20px;
      top: 0;
      transform: rotate(-45deg);
      opacity: 0;
    }

    100% {
      width: 20px;
      right: -10px;
      top: 20px;
      transform: rotate(10deg);
      opacity: 1;
    }
  }

  .tit_sy1 .atm-mobile .money-2 {
    position: absolute;
    width: 25px;
    left: -5px;
    transform: rotate(90deg);
    top: 30px;
    -webkit-animation: money-2 2s ease infinite;
    animation: money-2 2s ease infinite;
  }

  @-webkit-keyframes money-2 {
    0% {
      width: 15px;
      left: 15px;
      transform: rotate(180deg);
      top: 5px;
      opacity: 0;
    }

    100% {
      width: 25px;
      left: -5px;
      transform: rotate(90deg);
      top: 30px;
      opacity: 1;
    }

  }

  @keyframes money-2 {
    0% {
      width: 15px;
      left: 15px;
      transform: rotate(180deg);
      top: 5px;
      opacity: 0;
    }

    100% {
      width: 25px;
      left: -5px;
      transform: rotate(90deg);
      top: 30px;
      opacity: 1;
    }
  }

  .tit_sy1 span {
    font-size: 2.8rem;
    width: 60px;
    height: 60px;
  }

  /* 詳細辦法 */
  .active h2 span::after,
  .active h2 span::before {
    width: 45px;
    height: 45px;
    font-size: 2rem;
    line-height: 1.3;
  }

  .time span {
    font-size: 1.25rem;
  }

  .active h3.time {
    padding: 6px 5px;
    margin-bottom: 30px;
  }

  .active p {
    font-size: 1.125rem;
  }

  .active p.tips {
    font-size: 1rem;
    padding: 12px;
  }

  .frame {
    padding: 20px 15px;
  }

  .active h2 span {
    margin: 0 8px;
  }



  /* footer */
  footer p.web {
    display: none;
  }

  footer {
    padding: 10px 15px;
  }

  .fixedButton {
    right: 0px;
    bottom: 0%;
    width: 100px;
  }


  @media screen and (max-width: 500px) {

    /* 主視覺 */
    .kv-block .circle-bg {
      transform: translate(-50%, 1740px);
    }

    .paper .txt span.sale {
      display: none;
    }

    .tit_sy1 span {
      font-size: 2rem;
      width: 45px;
      height: 45px;
      margin: 0 5px;
    }

    .tit_sy1 {
      margin-bottom: 20px;
      position: relative;
      left: -5px;
      padding-right: 90px;

    }

    .tit_sy1 .atm-mobile {
      width: 70px;
    }

    .tit_sy1 span::before {
      border: 4px solid #000;
      border-radius: 5px;
    }

    .tit_sy1 span::after {
      transform: translate(12px, 12px);
    }

    .kv-block .atm-1 {
      transform: translateX(-70%);
      top: 12%;
    }

    .kv-block .atm-4 {
      transform: translateX(70%);
      top: 12%;
    }

    .kv-block .atm::before {
      width: 24px;
      height: 6px;
      transform: translate(-50%, 50%);
    }

    .ticketBox .handDeco {
      width: 65px;
    }

    .paper .money-3 {
      display: none;
    }


    .center-txt h3 {
      margin-left: 60px;
      width: calc(100% - 60px);
    }

    .ticketBox .handDeco .line {
      width: 30px;
      height: 30px;
      right: -10px;
      top: 10px;
    }

    .kv-block::before {
      height: 500px;
    }


    /* .ticketBox .paper {
    padding-bottom: 30px;
  } */

    .ticketBox .paper .mobile p {
      font-size: 1.7rem;
    }

    .ticketBox .paper .mobile p span {
      width: 30px;
      position: relative;
      margin: 0 5px;
    }

    .ticketBox .paper .mobile p span::before {
      font-size: 2.875rem;


    }

    .ticketBox .paper .mobile p.sale {
      font-size: 1.5rem;
      margin: 10px 0 0px 0;
    }

    .ticketBox .paper .money {
      display: none;
    }

    .center-txt {
      min-height: 380px;
    }
  }

  @media screen and (max-width: 360px) {

    .tit_sy1 {
      padding-right: 0px;
    }

    .tit_sy1 .atm-mobile {
      display: none;
    }

    .center-txt h3 {
      width: calc(100% - 50px);
    }


  }

}